In [1]:
import pprint
import pandas
import geopandas
from pandas.io.json import json_normalize
import geojson
import json
import numpy

In [2]:
with open('../static/data/globe.geo.json') as f:
    data = geojson.load(f)
globe = pandas.DataFrame(data)
# data[1]

In [3]:
globe = pandas.io.json.json_normalize(data['features'])
globe = globe.drop(['properties.abbrev', 'properties.abbrev_len',
              'properties.adm0_a3', 'properties.adm0_a3_is', 'properties.adm0_a3_un',
            'properties.adm0_a3_wb', 'properties.adm0_dif', 'properties.brk_diff',
             'properties.adm0_a3_us', 'properties.brk_a3', 'properties.brk_group',
             'properties.brk_name', 'properties.featurecla', 'properties.tiny',
             'properties.filename', 'properties.fips_10_', 'properties.formal_en',
             'properties.formal_fr', 'properties.gdp_md_est', 'properties.gdp_year',
             'properties.geounit', 'properties.subunit', 'properties.geou_dif', 
             'properties.gu_a3', 'properties.homepart', 'properties.iso_a3', 
              'properties.un_a3', 'properties.wb_a2', 'properties.wb_a3',
             'properties.wikipedia', 'properties.labelrank', 'properties.lastcensus',
             'properties.level', 'properties.sov_a3', 'properties.su_a3',
             'properties.su_dif', 'properties.subregion', 'properties.woe_id', 
             'properties.woe_note', 'properties.woe_id_eh', 'properties.long_len',
             'properties.mapcolor13','properties.mapcolor9','properties.mapcolor8',
             'properties.mapcolor7', 'properties.admin', 'properties.name_alt', 'properties.note_brk',
             'properties.postal', 'properties.pop_est', 'properties.pop_year', 
             'properties.note_brk', 'properties.region_un', 'properties.scalerank',
             'properties.iso_n3', 'properties.name_long', 'properties.name_sort',
             'properties.name_len', 'properties.region_wb', 'properties.note_adm0',
            'properties.continent', 'type'
             ], axis=1)
# df = df.set_index('properties.admin', drop=True)
globe.rename(columns = {'properties.iso_a2': 'code'}, inplace=True)
globe['code'] = globe['code'].astype(str)
globe.head()

,geometry.coordinates,geometry.type,properties.economy,properties.income_grp,code,properties.name,properties.sovereignt,properties.type
0,"[[[-79.98928788999987, 15.794948635000056], [-...",Polygon,7. Least developed region,5. Low income,-99,Bajo Nuevo Bank (Petrel Is.),Bajo Nuevo Bank (Petrel Is.),Indeterminate
1,"[[[[-63.037668423999946, 18.212958075000028], ...",MultiPolygon,6. Developing region,3. Upper middle income,AI,Anguilla,United Kingdom,Dependency
2,"[[[-62.83885657499987, 17.88198476800008], [-6...",Polygon,2. Developed region: nonG7,1. High income: OECD,BL,St-Barthélemy,France,Dependency
3,"[[[-69.9969376289999, 12.577582098000036], [-6...",Polygon,6. Developing region,2. High income: nonOECD,AW,Aruba,Netherlands,Country
4,"[[[-59.42690995999987, 13.160386460000069], [-...",Polygon,6. Developing region,2. High income: nonOECD,BB,Barbados,Barbados,Sovereign country

In [5]:
trafficking = pandas.read_csv('TraffickingCountsAge-Gender.csv')
trafficking.columns = ['code', 'Year', 'CountryOfExploitation', 'TraffickedGender',
                       'TraffickedageBroad', 'TraffickedCount'  ]
trafficking['code'] = trafficking['code'].astype(str)
trafficking.head()
# trafficking.dtypes

,code,Year,CountryOfExploitation,TraffickedGender,TraffickedageBroad,TraffickedCount
0,CO,2002,Unknown,Female,Adult,32
1,CO,2002,Unknown,Female,Adult-,11
2,CO,2002,Unknown,Female,Unknown,31
3,MD,2002,Unknown,Female,Adult,396
4,MD,2002,Unknown,Female,Adult-,132

            Country Name Code  Year          GDP
0            Afghanistan   AF  1990           ..
1            Afghanistan   AF  1995           ..
2            Afghanistan   AF  2000           ..
3            Afghanistan   AF  2005  1011.595524
4            Afghanistan   AF  2010  1581.600836
5            Afghanistan   AF  2015  1926.357336
6            Afghanistan   AF  2017  1980.516177
7                Albania   AL  1990  2722.280344
8                Albania   AL  1995  2782.093734
9                Albania   AL  2000  4029.016971
10               Albania   AL  2005  5942.884009
11               Albania   AL  2010  9637.345368
12               Albania   AL  2015  11334.22093
13               Albania   AL  2017  12020.69073
14               Algeria   DZ  1990  6616.408352
15               Algeria   DZ  1995  6777.297778
16               Algeria   DZ  2000  8093.530893
17               Algeria   DZ  2005  10971.84687
18               Algeria   DZ  2010  12610.24805
19               Algeria   DZ  2015  14614.97043
20               Algeria   DZ  2017  15275.37422
21        American Samoa   AS  1990           ..
22        American Samoa   AS  1995           ..
23        American Samoa   AS  2000           ..
24        American Samoa   AS  2005           ..
25        American Samoa   AS  2010           ..
26        American Samoa   AS  2015           ..
27        American Samoa   AS  2017           ..
28               Andorra   AD  1990           ..
29               Andorra   AD  1995           ..
...                  ...  ...   ...          ...
1818  West Bank and Gaza  NaN  2015  5019.238115
1819  West Bank and Gaza  NaN  2017  4885.341879
1820               World  NaN  1990  5446.175345
1821               World  NaN  1995  6478.955649
1822               World  NaN  2000  7927.720072
1823               World  NaN  2005   10079.3572
1824               World  NaN  2010  12836.84165
1825               World  NaN  2015  15710.16761
1826               World  NaN  2017  16940.79202
1827         Yemen, Rep.   YE  1990   2150.41636
1828         Yemen, Rep.   YE  1995  2575.289128
1829         Yemen, Rep.   YE  2000  3086.354758
1830         Yemen, Rep.   YE  2005  3699.915173
1831         Yemen, Rep.   YE  2010  4388.144757
1832         Yemen, Rep.   YE  2015  2458.385012
1833         Yemen, Rep.   YE  2017           ..
1834              Zambia   ZM  1990  1513.668718
1835              Zambia   ZM  1995  1479.696374
1836              Zambia   ZM  2000  1666.884356
1837              Zambia   ZM  2005  2210.472268
1838              Zambia   ZM  2010  3212.941881
1839              Zambia   ZM  2015  3862.478483
1840              Zambia   ZM  2017  4050.261432
1841            Zimbabwe   ZW  1990  1684.211364
1842            Zimbabwe   ZW  1995  1814.219952
1843            Zimbabwe   ZW  2000   2047.74854
1844            Zimbabwe   ZW  2005  1480.264691
1845            Zimbabwe   ZW  2010  1445.042386
1846            Zimbabwe   ZW  2015  2036.319256
1847            Zimbabwe   ZW  2017  2085.676925

[1848 rows x 4 columns]

In [9]:
gdp = pandas.read_csv('Countries_GDP.csv')
gdp = pandas.DataFrame(gdp)
gdp = gdp.rename(columns={'Code':'code'})
gdp['code'] = gdp['code'].apply(str)
gdp = gdp.replace('..', -99)
gdp['GDP'] = gdp['GDP'].apply(float)
gdp.dtypes
# gdp.head(25)

Country Name     object
code             object
Year              int64
GDP             float64
dtype: object

In [10]:
migrationA = pandas.read_csv('MigrationCountsAge-Gender.csv',error_bad_lines=False)
migrationA = migrationA.rename(columns={'Major area, region, country or area of destination': 'Destination'})
# migrationA = migrationA.set_index('Destination')
migrationA['Origin'] = 'WORLD'
migrationA['Origin'] = migrationA['Origin'].astype(str)
migrationA['Origin'].str.encode('utf-8')
migrationA.head()
migrationA.dtypes

Destination    object
Year            int64
Total           int64
TotalYouth      int64
TotalAdult      int64
TotalElder      int64
TotalMale       int64
MaleYouth       int64
MaleAdult       int64
MaleElder       int64
TotalFemale     int64
FemaleYouth     int64
FemaleAdult     int64
FemaleElder     int64
Origin         object
dtype: object

In [11]:
migrationB = pandas.read_csv('NumberofPeopleMigrated_PerCountries_PerYear.csv')
migrationB = migrationB.rename(columns={'Years': 'Year', '2': "Origin", 'value':'TotalMigrants',
                                        'Countries of Destination': 'Destination'})
migrationB = migrationB.drop('Unnamed: 0', axis=1)
migrationB['Origin'] = migrationB['Origin'].astype(str)
migrationB['Origin'].str.encode('utf-8')
migrationB.head()
migrationB.dtypes
# migrationB.loc[migrationB['Origin'] == 'Comoros']

Year              int64
Destination      object
Origin           object
TotalMigrants    object
dtype: object

In [12]:
type(migrationA.loc[0, 'Origin']) == type(migrationB.loc[0, 'Origin'])

True

In [14]:
migration = migrationA.join(migrationB, on='Origin', how='outer',
                           lsuffix='_left', rsuffix='_right').set_index('Destination_left')
migration.head(15)

,Origin,Year_left,Total,TotalYouth,TotalAdult,TotalElder,TotalMale,MaleYouth,MaleAdult,MaleElder,TotalFemale,FemaleYouth,FemaleAdult,FemaleElder,Origin_left,Year_right,Destination_right,Origin_right,TotalMigrants
Destination_left,,,,,,,,,,,,,,,,,,,
Burundi,WORLD,1990.0,333110.0,86938.0,230870.0,15302.0,163267.0,41491.0,114075.0,7701.0,169843.0,45447.0,116795.0,7601.0,WORLD,NaN,NaN,NaN,NaN
Comoros,WORLD,1990.0,14079.0,3656.0,9973.0,450.0,6717.0,1561.0,4925.0,231.0,7362.0,2095.0,5048.0,219.0,WORLD,NaN,NaN,NaN,NaN
Djibouti,WORLD,1990.0,122221.0,41767.0,77766.0,2688.0,64242.0,22913.0,39825.0,1504.0,57979.0,18854.0,37941.0,1184.0,WORLD,NaN,NaN,NaN,NaN
Eritrea,WORLD,1990.0,11848.0,3311.0,8197.0,340.0,6228.0,1769.0,4305.0,154.0,5620.0,1542.0,3892.0,186.0,WORLD,NaN,NaN,NaN,NaN
Ethiopia,WORLD,1990.0,1155390.0,396648.0,711765.0,46977.0,607284.0,211289.0,373118.0,22877.0,548106.0,185359.0,338647.0,24100.0,WORLD,NaN,NaN,NaN,NaN
Kenya,WORLD,1990.0,297292.0,109787.0,172741.0,14764.0,160852.0,58215.0,94389.0,8248.0,136440.0,51572.0,78352.0,6516.0,WORLD,NaN,NaN,NaN,NaN
Madagascar,WORLD,1990.0,23917.0,4910.0,15716.0,3291.0,13348.0,2103.0,9088.0,2157.0,10569.0,2807.0,6628.0,1134.0,WORLD,NaN,NaN,NaN,NaN
Malawi,WORLD,1990.0,1127724.0,569896.0,525173.0,32655.0,546520.0,266422.0,264633.0,15465.0,581204.0,303474.0,260540.0,17190.0,WORLD,NaN,NaN,NaN,NaN
Mauritius,WORLD,1990.0,3613.0,1182.0,2103.0,328.0,1763.0,579.0,1025.0,159.0,1850.0,603.0,1078.0,169.0,WORLD,NaN,NaN,NaN,NaN
Mayotte,WORLD,1990.0,15229.0,4575.0,10354.0,300.0,8780.0,2311.0,6289.0,180.0,6449.0,2264.0,4065.0,120.0,WORLD,NaN,NaN,NaN,NaN
Mozambique,WORLD,1990.0,122332.0,55885.0,63671.0,2776.0,66060.0,29090.0,35463.0,1507.0,56272.0,26795.0,28208.0,1269.0,WORLD,NaN,NaN,NaN,NaN
Réunion,WORLD,1990.0,57210.0,19488.0,35704.0,2018.0,30724.0,9995.0,19600.0,1129.0,26486.0,9493.0,16104.0,889.0,WORLD,NaN,NaN,NaN,NaN
Rwanda,WORLD,1990.0,159869.0,40818.0,108659.0,10392.0,80690.0,19547.0,57558.0,3585.0,79179.0,21271.0,51101.0,6807.0,WORLD,NaN,NaN,NaN,NaN
Seychelles,WORLD,1990.0,3721.0,685.0,2857.0,179.0,2204.0,358.0,1761.0,85.0,1517.0,327.0,1096.0,94.0,WORLD,NaN,NaN,NaN,NaN
Somalia,WORLD,1990.0,478294.0,238158.0,234399.0,5737.0,244201.0,111489.0,129580.0,3132.0,234093.0,126669.0,104819.0,2605.0,WORLD,NaN,NaN,NaN,NaN

In [13]:
TraffickedWithGdp = gdp.join(trafficking, on='code',how='outer',lsuffix='gdp', rsuffix='trafficking')
TraffickedWithGdp.head(25)

,code,Country Name,codegdp,Yeargdp,GDP,codetrafficking,Yeartrafficking,CountryOfExploitation,TraffickedGender,TraffickedageBroad,TraffickedCount
0,AF,Afghanistan,AF,1990.0,-99.000000,NaN,NaN,NaN,NaN,NaN,NaN
1,AF,Afghanistan,AF,1995.0,-99.000000,NaN,NaN,NaN,NaN,NaN,NaN
2,AF,Afghanistan,AF,2000.0,-99.000000,NaN,NaN,NaN,NaN,NaN,NaN
3,AF,Afghanistan,AF,2005.0,1011.595524,NaN,NaN,NaN,NaN,NaN,NaN
4,AF,Afghanistan,AF,2010.0,1581.600836,NaN,NaN,NaN,NaN,NaN,NaN
5,AF,Afghanistan,AF,2015.0,1926.357336,NaN,NaN,NaN,NaN,NaN,NaN
6,AF,Afghanistan,AF,2017.0,1980.516177,NaN,NaN,NaN,NaN,NaN,NaN
7,AL,Albania,AL,1990.0,2722.280344,NaN,NaN,NaN,NaN,NaN,NaN
8,AL,Albania,AL,1995.0,2782.093734,NaN,NaN,NaN,NaN,NaN,NaN
9,AL,Albania,AL,2000.0,4029.016971,NaN,NaN,NaN,NaN,NaN,NaN
10,AL,Albania,AL,2005.0,5942.884009,NaN,NaN,NaN,NaN,NaN,NaN
11,AL,Albania,AL,2010.0,9637.345368,NaN,NaN,NaN,NaN,NaN,NaN
12,AL,Albania,AL,2015.0,11334.220930,NaN,NaN,NaN,NaN,NaN,NaN
13,AL,Albania,AL,2017.0,12020.690730,NaN,NaN,NaN,NaN,NaN,NaN
14,DZ,Algeria,DZ,1990.0,6616.408352,NaN,NaN,NaN,NaN,NaN,NaN
15,DZ,Algeria,DZ,1995.0,6777.297778,NaN,NaN,NaN,NaN,NaN,NaN
16,DZ,Algeria,DZ,2000.0,8093.530893,NaN,NaN,NaN,NaN,NaN,NaN
17,DZ,Algeria,DZ,2005.0,10971.846870,NaN,NaN,NaN,NaN,NaN,NaN
18,DZ,Algeria,DZ,2010.0,12610.248050,NaN,NaN,NaN,NaN,NaN,NaN
19,DZ,Algeria,DZ,2015.0,14614.970430,NaN,NaN,NaN,NaN,NaN,NaN
20,DZ,Algeria,DZ,2017.0,15275.374220,NaN,NaN,NaN,NaN,NaN,NaN
21,AS,American Samoa,AS,1990.0,-99.000000,NaN,NaN,NaN,NaN,NaN,NaN
22,AS,American Samoa,AS,1995.0,-99.000000,NaN,NaN,NaN,NaN,NaN,NaN
23,AS,American Samoa,AS,2000.0,-99.000000,NaN,NaN,NaN,NaN,NaN,NaN
24,AS,American Samoa,AS,2005.0,-99.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
 def colorPick(gdp_md_est):

# divided 190 countries into 7 equal categories
     
#     (190.0, 166.375, 142.75, 119.125, 95.5, 71.875, 48.25, 24.625, 1.0)
#  This is total gdp, in millijons

    if gdp_md_est > 500000:
        color = "CHARTREUSE"
    elif gdp_md_est > 200000:
        color = "PALEGREEN"
    elif gdp_md_est > 70000:
        color = "SKYBLUE"
    elif gdp_md_est > 35000:
        color = "PALEVIOLETRED"
    elif gdp_md_est > 15000:
        color = "SANDYBROWN"
    elif gdp_md_est > 7000:
        color = "ORANGERED"
    elif gdp_md_est > 2000:
        color = "RED"
    else:
        color = 'slategrey'

    return color

In [16]:
for index,row in gdp.iterrows():
    gdp['color'] = gdp['GDP'].apply(colorPick)
gdp.head(15)

   Country Name code  Year           GDP      color
0   Afghanistan   AF  1990    -99.000000  slategrey
1   Afghanistan   AF  1995    -99.000000  slategrey
2   Afghanistan   AF  2000    -99.000000  slategrey
3   Afghanistan   AF  2005   1011.595524  slategrey
4   Afghanistan   AF  2010   1581.600836  slategrey
5   Afghanistan   AF  2015   1926.357336  slategrey
6   Afghanistan   AF  2017   1980.516177  slategrey
7       Albania   AL  1990   2722.280344        RED
8       Albania   AL  1995   2782.093734        RED
9       Albania   AL  2000   4029.016971        RED
10      Albania   AL  2005   5942.884009        RED
11      Albania   AL  2010   9637.345368  ORANGERED
12      Albania   AL  2015  11334.220930  ORANGERED
13      Albania   AL  2017  12020.690730  ORANGERED
14      Algeria   DZ  1990   6616.408352        RED

In [21]:
GDPglobe = globe.merge(gdp, on="code", how='left')
GDPglobe.head(55)

,geometry.coordinates,geometry.type,properties.economy,properties.income_grp,code,properties.name,properties.sovereignt,properties.type,Country Name,Year,GDP,color
0,"[[[-79.98928788999987, 15.794948635000056], [-...",Polygon,7. Least developed region,5. Low income,-99,Bajo Nuevo Bank (Petrel Is.),Bajo Nuevo Bank (Petrel Is.),Indeterminate,NaN,NaN,NaN,NaN
1,"[[[[-63.037668423999946, 18.212958075000028], ...",MultiPolygon,6. Developing region,3. Upper middle income,AI,Anguilla,United Kingdom,Dependency,NaN,NaN,NaN,NaN
2,"[[[-62.83885657499987, 17.88198476800008], [-6...",Polygon,2. Developed region: nonG7,1. High income: OECD,BL,St-Barthélemy,France,Dependency,NaN,NaN,NaN,NaN
3,"[[[-69.9969376289999, 12.577582098000036], [-6...",Polygon,6. Developing region,2. High income: nonOECD,AW,Aruba,Netherlands,Country,Aruba,1990.0,-99.000000,slategrey
4,"[[[-69.9969376289999, 12.577582098000036], [-6...",Polygon,6. Developing region,2. High income: nonOECD,AW,Aruba,Netherlands,Country,Aruba,1995.0,-99.000000,slategrey
5,"[[[-69.9969376289999, 12.577582098000036], [-6...",Polygon,6. Developing region,2. High income: nonOECD,AW,Aruba,Netherlands,Country,Aruba,2000.0,-99.000000,slategrey
6,"[[[-69.9969376289999, 12.577582098000036], [-6...",Polygon,6. Developing region,2. High income: nonOECD,AW,Aruba,Netherlands,Country,Aruba,2005.0,-99.000000,slategrey
7,"[[[-69.9969376289999, 12.577582098000036], [-6...",Polygon,6. Developing region,2. High income: nonOECD,AW,Aruba,Netherlands,Country,Aruba,2010.0,-99.000000,slategrey
8,"[[[-69.9969376289999, 12.577582098000036], [-6...",Polygon,6. Developing region,2. High income: nonOECD,AW,Aruba,Netherlands,Country,Aruba,2015.0,-99.000000,slategrey
9,"[[[-69.9969376289999, 12.577582098000036], [-6...",Polygon,6. Developing region,2. High income: nonOECD,AW,Aruba,Netherlands,Country,Aruba,2017.0,-99.000000,slategrey
10,"[[[-59.42690995999987, 13.160386460000069], [-...",Polygon,6. Developing region,2. High income: nonOECD,BB,Barbados,Barbados,Sovereign country,Barbados,1990.0,9329.383963,ORANGERED
11,"[[[-59.42690995999987, 13.160386460000069], [-...",Polygon,6. Developing region,2. High income: nonOECD,BB,Barbados,Barbados,Sovereign country,Barbados,1995.0,9903.471761,ORANGERED
12,"[[[-59.42690995999987, 13.160386460000069], [-...",Polygon,6. Developing region,2. High income: nonOECD,BB,Barbados,Barbados,Sovereign country,Barbados,2000.0,12260.235200,ORANGERED
13,"[[[-59.42690995999987, 13.160386460000069], [-...",Polygon,6. Developing region,2. High income: nonOECD,BB,Barbados,Barbados,Sovereign country,Barbados,2005.0,14381.225630,ORANGERED
14,"[[[-59.42690995999987, 13.160386460000069], [-...",Polygon,6. Developing region,2. High income: nonOECD,BB,Barbados,Barbados,Sovereign country,Barbados,2010.0,16085.849580,SANDYBROWN
15,"[[[-59.42690995999987, 13.160386460000069], [-...",Polygon,6. Developing region,2. High income: nonOECD,BB,Barbados,Barbados,Sovereign country,Barbados,2015.0,17525.649260,SANDYBROWN
16,"[[[-59.42690995999987, 13.160386460000069], [-...",Polygon,6. Developing region,2. High income: nonOECD,BB,Barbados,Barbados,Sovereign country,Barbados,2017.0,18639.451740,SANDYBROWN
17,"[[[[-87.80370032499991, 17.315985419000114], [...",MultiPolygon,6. Developing region,4. Lower middle income,BZ,Belize,Belize,Sovereign country,Belize,1990.0,3338.870670,RED
18,"[[[[-87.80370032499991, 17.315985419000114], [...",MultiPolygon,6. Developing region,4. Lower middle income,BZ,Belize,Belize,Sovereign country,Belize,1995.0,4526.658589,RED
19,"[[[[-87.80370032499991, 17.315985419000114], [...",MultiPolygon,6. Developing region,4. Lower middle income,BZ,Belize,Belize,Sovereign country,Belize,2000.0,5517.230644,RED
20,"[[[[-87.80370032499991, 17.315985419000114], [...",MultiPolygon,6. Developing region,4. Lower middle income,BZ,Belize,Belize,Sovereign country,Belize,2005.0,7010.188450,ORANGERED
21,"[[[[-87.80370032499991, 17.315985419000114], [...",MultiPolygon,6. Developing region,4. Lower middle income,BZ,Belize,Belize,Sovereign country,Belize,2010.0,7717.472528,ORANGERED
22,"[[[[-87.80370032499991, 17.315985419000114], [...",MultiPolygon,6. Developing region,4. Lower middle income,BZ,Belize,Belize,Sovereign country,Belize,2015.0,8654.855391,ORANGERED
23,"[[[[-87.80370032499991, 17.315985419000114], [...",MultiPolygon,6. Developing region,4. Lower middle income,BZ,Belize,Belize,Sovereign country,Belize,2017.0,8590.013256,ORANGERED
24,"[[[[-64.81196571723709, 32.28993629964394], [-...",MultiPolygon,2. Developed region: nonG7,2. High income: nonOECD,BM,Bermuda,United Kingdom,Dependency,Bermuda,1990.0,26210.910900,SANDYBROWN
25,"[[[[-64.81196571723709, 32.28993629964394], [-...",MultiPolygon,2. Developed region: nonG7,2. High income: nonOECD,BM,Bermuda,United Kingdom,Dependency,Bermuda,1995.0,30621.691580,SANDYBROWN
26,"[[[[-64.81196571723709, 32.28993629964394], [-...",MultiPolygon,2. Developed region: nonG7,2. High income: nonOECD,BM,Bermuda,United Kingdom,Dependency,Bermuda,2000.0,40535.208260,PALEVIOLETRED
27,"[[[[-64.81196571723709, 32.28993629964394], [-...",MultiPolygon,2. Developed region: nonG7,2. High income: nonOECD,BM,Bermuda,United Kingdom,Dependency,Bermuda,2005.0,49877.284110,PALEVIOLETRED
28,"[[[[-64.81196571723709, 32.28993629964394], [-...",MultiPolygon,2. Developed region: nonG7,2. High income: nonOECD,BM,Bermuda,United Kingdom,Dependency,Bermuda,2010.0,55254.214120,PALEVIOLETRED
29,"[[[[-64.81196571723709, 32.28993629964394], [-...",MultiPolygon,2. Developed region: nonG7,2. High income: nonOECD,BM,Bermuda,United Kingdom,Dependency,Bermuda,2015.0,-99.000000,slategrey
30,"[[[[-64.81196571723709, 32.28993629964394], [-...",MultiPolygon,2. Developed region: nonG7,2. High income: nonOECD,BM,Bermuda,United Kingdom,Dependency,Bermuda,2017.0,-99.000000,slategrey
31,"[[[[-61.773019985999916, 17.126532294000143], ...",MultiPolygon,6. Developing region,3. Upper middle income,AG,Antigua and Barb.,Antigua and Barbuda,Sovereign country,Antigua and Barbuda,1990.0,10587.593410,ORANGERED
32,"[[[[-61.773019985999916, 17.126532294000143], ...",MultiPolygon,6. Developing region,3. Upper middle income,AG,Antigua and Barb.,Antigua and Barbuda,Sovereign country,Antigua and Barbuda,1995.0,12012.906950,ORANGERED
33,"[[[[-61.773019985999916, 17.126532294000143], ...",MultiPolygon,6. Developing region,3. Upper middle income,AG,Antigua and Barb.,Antigua and Barbuda,Sovereign country,Antigua and Barbuda,2000.0,14987.411160,ORANGERED
34,"[[[[-61.773019985999916, 17.126532294000143], ...",MultiPolygon,6. Developing region,3. Upper middle income,AG,Antigua and Barb.,Antigua and Barbuda,Sovereign country,Antigua and Barbuda,2005.0,18065.805230,SANDYBROWN
35,"[[[[-61.773019985999916, 17.126532294000143], ...",MultiPolygon,6. Developing region,3. Upper middle income,AG,Antigua and Barb.,Antigua and Barbuda,Sovereign country,Antigua and Barbuda,2010.0,18824.073150,SANDYBROWN
36,"[[[[-61.773019985999916, 17.126532294000143], ...",MultiPolygon,6. Developing region,3. Upper middle income,AG,Antigua and Barb.,Antigua and Barbuda,Sovereign country,Antigua and Barbuda,2015.0,21462.286940,SANDYBROWN
37,"[[[[-61.773019985999916, 17.126532294000143], ...",MultiPolygon,6. Developing region,3. Upper middle income,AG,Antigua and Barb.,Antigua and Barbuda,Sovereign country,Antigua and Barbuda,2017.0,23593.932830,SANDYBROWN
38,"[[[[-73.03392986299986, 21.15673149000004], [-...",MultiPolygon,6. Developing region,2. High income: nonOECD,BS,Bahamas,The Bahamas,Sovereign country,"Bahamas, The",1990.0,20031.133140,SANDYBROWN
39,"[[[[-73.03392986299986, 21.15673149000004], [-...",MultiPolygon,6. Developing region,2. High income: nonOECD,BS,Bahamas,The Bahamas,Sovereign country,"Bahamas, The",1995.0,20576.657290,SANDYBROWN
40,"[[[[-73.03392986299986, 21.15673149000004], [-...",MultiPolygon,6. Developing region,2. High income: nonOECD,BS,Bahamas,The Bahamas,Sovereign country,"Bahamas, The",2000.0,26149.417140,SANDYBROWN
41,"[[[[-73.03392986299986, 21.15673149000004], [-...",MultiPolygon,6. Developing region,2. High income: nonOECD,BS,Bahamas,The Bahamas,Sovereign country,"Bahamas, The",2005.0,28849.729960,SANDYBROWN
42,"[[[[-73.03392986299986, 21.15673149000004], [-...",MultiPolygon,6. Developing region,2. High income: nonOECD,BS,Bahamas,The Bahamas,Sovereign country,"Bahamas, The",2010.0,28630.870370,SANDYBROWN
43,"[[[[-73.03392986299986, 21.15673149000004], [-...",MultiPolygon,6. Developing region,2. High income: nonOECD,BS,Bahamas,The Bahamas,Sovereign country,"Bahamas, The",2015.0,30249.738230,SANDYBROWN
44,"[[[[-73.03392986299986, 21.15673149000004], [-...",MultiPolygon,6. Developing region,2. High income: nonOECD,BS,Bahamas,The Bahamas,Sovereign country,"Bahamas, The",2017.0,30430.169480,SANDYBROWN
45,"[[[-68.78075110599988, 12.097805080000072], [-...",Polygon,6. Developing region,2. High income: nonOECD,CW,Curaçao,Netherlands,Country,Curacao,1990.0,-99.000000,slategrey
46,"[[[-68.78075110599988, 12.097805080000072], [-...",Polygon,6. Developing region,2. High income: nonOECD,CW,Curaçao,Netherlands,Country,Curacao,1995.0,-99.000000,slategrey
47,"[[[-68.78075110599988, 12.097805080000072], [-...",Polygon,6. Developing region,2. High income: nonOECD,CW,Curaçao,Netherlands,Country,Curacao,2000.0,-99.000000,slategrey
48,"[[[-68.78075110599988, 12.097805080000072], [-...",Polygon,6. Developing region,2. High income: nonOECD,CW,Curaçao,Netherlands,Country,Curacao,2005.0,-99.000000,slategrey
49,"[[[-68.78075110599988, 12.097805080000072], [-...",Polygon,6. Developing region,2. High income: nonOECD,CW,Curaçao,Netherlands,Country,Curacao,2010.0,-99.000000,slategrey
50,"[[[-68.78075110599988, 12.097805080000072], [-...",Polygon,6. Developing region,2. High income: nonOECD,CW,Curaçao,Netherlands,Country,Curacao,2015.0,-99.000000,slategrey
51,"[[[-68.78075110599988, 12.097805080000072], [-...",Polygon,6. Developing region,2. High income: nonOECD,CW,Curaçao,Netherlands,Country,Curacao,2017.0,-99.000000,slategrey
52,"[[[[-71.50739498599995, 17.55125560100008], [-...",MultiPolygon,6. Developing region,3. Upper middle income,DO,Dominican Rep.,Dominican Republic,Sovereign country,Dominican Republic,1990.0,3540.005792,RED
53,"[[[[-71.50739498599995, 17.55125560100008], [-...",MultiPolygon,6. Developing region,3. Upper middle income,DO,Dominican Rep.,Dominican Republic,Sovereign country,Dominican Republic,1995.0,4750.749932,RED
54,"[[[[-71.50739498599995, 17.55125560100008], [-...",MultiPolygon,6. Developing region,3. Upper middle income,DO,Dominican Rep.,Dominican Republic,Sovereign country,Dominican Republic,2000.0,6499.853498,RED