In [1]:
import pprint
import pandas
import geopandas
from pandas.io.json import json_normalize
import geojson
import json
import numpy
from functools import reduce

In [2]:
with open('../static/data/globe.geo.json') as f:
    data = geojson.load(f)
globe = pandas.DataFrame(data)
# data[1]

In [3]:
globe = pandas.io.json.json_normalize(data['features'])
globe = globe.drop(['properties.abbrev', 'properties.abbrev_len',
              'properties.adm0_a3', 'properties.adm0_a3_is', 'properties.adm0_a3_un',
            'properties.adm0_a3_wb', 'properties.adm0_dif', 'properties.brk_diff',
             'properties.adm0_a3_us', 'properties.brk_a3', 'properties.brk_group',
             'properties.brk_name', 'properties.featurecla', 'properties.tiny',
             'properties.filename', 'properties.fips_10_', 'properties.formal_en',
             'properties.formal_fr', 'properties.gdp_md_est', 'properties.gdp_year',
             'properties.geounit', 'properties.subunit', 'properties.geou_dif', 
             'properties.gu_a3', 'properties.homepart', 'properties.iso_a3', 
              'properties.un_a3', 'properties.wb_a2', 'properties.wb_a3',
             'properties.wikipedia', 'properties.labelrank', 'properties.lastcensus',
             'properties.level', 'properties.sov_a3', 'properties.su_a3',
             'properties.su_dif', 'properties.subregion', 'properties.woe_id', 
             'properties.woe_note', 'properties.woe_id_eh', 'properties.long_len',
             'properties.mapcolor13','properties.mapcolor9','properties.mapcolor8',
             'properties.mapcolor7', 'properties.admin', 'properties.name_alt', 'properties.note_brk',
             'properties.postal', 'properties.pop_est', 'properties.pop_year', 
             'properties.note_brk', 'properties.region_un', 'properties.scalerank',
             'properties.iso_n3', 'properties.name_long', 'properties.name_sort',
             'properties.name_len', 'properties.region_wb', 'properties.note_adm0',
            'properties.continent', 'type'
             ], axis=1)
# df = df.set_index('properties.admin', drop=True)
globe.rename(columns = {'properties.iso_a2': 'code'}, inplace=True)
globe['code'] = globe['code'].astype(str)
globe.head()

,geometry.coordinates,geometry.type,properties.economy,properties.income_grp,code,properties.name,properties.sovereignt,properties.type
0,"[[[-79.98928788999987, 15.794948635000056], [-...",Polygon,7. Least developed region,5. Low income,-99,Bajo Nuevo Bank (Petrel Is.),Bajo Nuevo Bank (Petrel Is.),Indeterminate
1,"[[[[-63.037668423999946, 18.212958075000028], ...",MultiPolygon,6. Developing region,3. Upper middle income,AI,Anguilla,United Kingdom,Dependency
2,"[[[-62.83885657499987, 17.88198476800008], [-6...",Polygon,2. Developed region: nonG7,1. High income: OECD,BL,St-Barthélemy,France,Dependency
3,"[[[-69.9969376289999, 12.577582098000036], [-6...",Polygon,6. Developing region,2. High income: nonOECD,AW,Aruba,Netherlands,Country
4,"[[[-59.42690995999987, 13.160386460000069], [-...",Polygon,6. Developing region,2. High income: nonOECD,BB,Barbados,Barbados,Sovereign country

In [4]:
trafficking = pandas.read_csv('trafficking.csv',low_memory=False)
# trafficking.columns = ['code', 'Year', 'CountryOfExploitation', 'TraffickedGender',
#                        'TraffickedageBroad', 'TraffickedCount'  ]
# trafficking['code'] = trafficking['code'].astype(str)
# trafficking = trafficking.sort_values(['code', 'Year'])


trafficking = trafficking.drop(trafficking.columns[[0, 2]], axis=1)
trafficking = trafficking.replace(['-99','18--20', '24--26', '30--38', '21--23',
                           '27--29', '9--17','39--47', '48+', '0--8',
                           'Unknown'], ['Unknown','Adult-', 'Adult', 'Adult', 'Adult',
                                        'Adult', 'Youth', 'Adult', 'Adult+', 'Youth', 
                                            'Unknown'])
trafficking = trafficking.rename(columns={'yearOfRegistration':"Year"})
# TraffickingCounts = 


# trafficking = trafficking.set_index('citizenship')
# trafficking.dtypes
# trafficking['Year'] = trafficking['Year'].astype(str)
trafficking = trafficking[['Year', 'gender', 'ageBroad','citizenship','CountryOfExploitation']]
trafficking.head(5)

   Year   gender ageBroad citizenship CountryOfExploitation
0  2002  Unknown  Unknown     Unknown               Unknown
1  2002  Unknown  Unknown     Unknown               Unknown
2  2002  Unknown  Unknown     Unknown               Unknown
3  2002  Unknown  Unknown     Unknown               Unknown
4  2002  Unknown  Unknown     Unknown               Unknown

In [5]:
traffickingCounts = trafficking.groupby(['citizenship', "Year"], as_index=True).sum().iloc[:,:0]
for index,row in trafficking.iterrows():
    col = str(row[4]) + str(row[1]) + str(row[2]) + 'Trafficked'

    if col not in traffickingCounts.columns:
        print(col)
        traffickingCounts[col] = 0

    traffickingCounts.loc[(row[3], row[0]), col] += 1

UnknownUnknownUnknownTrafficked
UnknownFemaleAdult-Trafficked
Y1FemaleAdult-Trafficked
BAFemaleAdult-Trafficked
MKFemaleAdult-Trafficked
UnknownFemaleAdultTrafficked
Y1FemaleAdultTrafficked
BAFemaleAdultTrafficked
MKFemaleAdultTrafficked
MKFemaleYouthTrafficked
UnknownFemaleUnknownTrafficked
UnknownMaleUnknownTrafficked
RUFemaleAdult-Trafficked
MDFemaleAdult-Trafficked
AEFemaleAdultTrafficked
CYFemaleAdultTrafficked
MDFemaleAdultTrafficked
RUFemaleYouthTrafficked
MDFemaleYouthTrafficked
GHFemaleYouthTrafficked
ALFemaleAdult-Trafficked
BGFemaleAdult-Trafficked
AEFemaleAdult-Trafficked
ITFemaleAdult-Trafficked
ROFemaleAdult-Trafficked
TRFemaleAdult-Trafficked
UZFemaleAdult-Trafficked
ALFemaleAdultTrafficked
BGFemaleAdultTrafficked
PLFemaleAdultTrafficked
RUFemaleAdultTrafficked
ROFemaleAdultTrafficked
TJFemaleAdultTrafficked
TRFemaleAdultTrafficked
UZFemaleAdultTrafficked
MYFemaleAdultTrafficked
ALFemaleYouthTrafficked
BGFemaleYouthTrafficked
GHMaleYouthTrafficked
RUMaleAdult-Trafficked
RUMaleAdultTrafficked
RUMaleAdult+Trafficked
RUMaleYouthTrafficked
MYFemaleAdult-Trafficked
CZFemaleAdultTrafficked
IDFemaleAdultTrafficked
MYFemaleYouthTrafficked
ROFemaleYouthTrafficked
PLMaleAdultTrafficked
MDMaleYouthTrafficked
UGFemaleYouthTrafficked
PLFemaleAdult-Trafficked
UAFemaleAdult-Trafficked
UAFemaleAdultTrafficked
ATFemaleAdultTrafficked
SNFemaleYouthTrafficked
UGMaleYouthTrafficked
SNMaleYouthTrafficked
SLFemaleYouthTrafficked
UAFemaleYouthTrafficked
KZMaleAdultTrafficked
UAMaleAdultTrafficked
SLMaleYouthTrafficked
ECUnknownUnknownTrafficked
TTUnknownUnknownTrafficked
MDMaleAdult-Trafficked
THFemaleYouthTrafficked
KZFemaleAdult-Trafficked
ECFemaleAdultTrafficked
TMFemaleAdultTrafficked
MDFemaleAdult+Trafficked
UAFemaleAdult+Trafficked
THMaleYouthTrafficked
SNMaleAdult-Trafficked
UnknownMaleAdultTrafficked
THUnknownYouthTrafficked
UnknownFemaleYouthTrafficked
KZFemaleAdultTrafficked
UnknownFemaleAdult+Trafficked
UnknownMaleYouthTrafficked
UnknownMaleAdult-Trafficked
MDMaleAdultTrafficked
TJMaleAdultTrafficked
UnknownMaleAdult+Trafficked
TJMaleAdult+Trafficked
UAMaleAdult+Trafficked
UAMaleYouthTrafficked
HTFemaleYouthTrafficked
JOFemaleAdultTrafficked
ARFemaleYouthTrafficked
HTMaleYouthTrafficked
ARUnknownUnknownTrafficked
BYFemaleAdultTrafficked
RUFemaleAdult+Trafficked
BYMaleAdultTrafficked
UZMaleAdultTrafficked
IDMaleAdultTrafficked
BYMaleAdult+Trafficked
AFMaleYouthTrafficked
MXUnknownUnknownTrafficked
IDFemaleAdult-Trafficked
SYFemaleAdultTrafficked
QAFemaleAdultTrafficked
SAFemaleAdultTrafficked
SGFemaleAdultTrafficked
OMFemaleAdultTrafficked
TWFemaleAdultTrafficked
BHFemaleAdultTrafficked
AEFemaleAdult+Trafficked
IDFemaleYouthTrafficked
UAMaleAdult-Trafficked
TTMaleAdultTrafficked
ZAMaleAdultTrafficked
MYMaleAdultTrafficked
BYMaleYouthTrafficked
EGMaleYouthTrafficked
CNUnknownUnknownTrafficked
LBFemaleAdultTrafficked
BYFemaleYouthTrafficked
IDMaleAdult-Trafficked
DKMaleAdultTrafficked
IDMaleAdult+Trafficked
SAMaleYouthTrafficked
USFemaleAdult-Trafficked
USFemaleAdultTrafficked
USFemaleYouthTrafficked
USFemaleUnknownTrafficked
ZZFemaleUnknownTrafficked
USMaleUnknownTrafficked
USUnknownUnknownTrafficked
JPFemaleUnknownTrafficked
KWFemaleUnknownTrafficked
PHFemaleUnknownTrafficked
QAFemaleUnknownTrafficked
SAFemaleUnknownTrafficked
AEFemaleUnknownTrafficked
MYFemaleUnknownTrafficked
LBFemaleUnknownTrafficked
PHMaleAdult-Trafficked
THMaleAdultTrafficked
MUMaleAdultTrafficked
PHMaleUnknownTrafficked
MYMaleUnknownTrafficked
QAMaleUnknownTrafficked
USFemaleAdult+Trafficked
USMaleYouthTrafficked
ZZUnknownUnknownTrafficked
KHFemaleYouthTrafficked
CNFemaleAdult-Trafficked
CNFemaleAdultTrafficked
VNFemaleAdultTrafficked
THFemaleAdultTrafficked
HKFemaleAdultTrafficked
KHFemaleAdultTrafficked
CNFemaleYouthTrafficked
THMaleAdult-Trafficked
KHMaleYouthTrafficked
USMaleAdult-Trafficked
USMaleAdultTrafficked
USUnknownYouthTrafficked
KHFemaleAdult-Trafficked
MGFemaleAdultTrafficked
SLFemaleAdultTrafficked
THFemaleUnknownTrafficked
KHFemaleUnknownTrafficked
KHMaleAdult-Trafficked
KHMaleAdultTrafficked
KHMaleUnknownTrafficked

In [6]:
traffickingCounts.head()

                  UnknownUnknownUnknownTrafficked  \
citizenship Year
AF          2013                                0
            2014                                0
            2015                                0
AL          2005                                0
BD          2015                                0

                  UnknownFemaleAdult-Trafficked  Y1FemaleAdult-Trafficked  \
citizenship Year
AF          2013                              0                         0
            2014                              0                         0
            2015                              0                         0
AL          2005                              0                         0
BD          2015                              0                         0

                  BAFemaleAdult-Trafficked  MKFemaleAdult-Trafficked  \
citizenship Year
AF          2013                         0                         0
            2014                         0                         0
            2015                         0                         0
AL          2005                         0                         0
BD          2015                         0                         0

                  UnknownFemaleAdultTrafficked  Y1FemaleAdultTrafficked  \
citizenship Year
AF          2013                             0                        0
            2014                             0                        0
            2015                             0                        0
AL          2005                             0                        0
BD          2015                             0                        0

                  BAFemaleAdultTrafficked  MKFemaleAdultTrafficked  \
citizenship Year
AF          2013                        0                        0
            2014                        0                        0
            2015                        0                        0
AL          2005                        0                        0
BD          2015                        0                        0

                  MKFemaleYouthTrafficked           ...             \
citizenship Year                                    ...
AF          2013                        0           ...
            2014                        0           ...
            2015                        0           ...
AL          2005                        0           ...
BD          2015                        0           ...

                  USMaleAdultTrafficked  USUnknownYouthTrafficked  \
citizenship Year
AF          2013                      0                         0
            2014                      0                         0
            2015                      0                         0
AL          2005                      0                         0
BD          2015                      0                         0

                  KHFemaleAdult-Trafficked  MGFemaleAdultTrafficked  \
citizenship Year
AF          2013                         0                        0
            2014                         0                        0
            2015                         0                        0
AL          2005                         0                        0
BD          2015                         0                        0

                  SLFemaleAdultTrafficked  THFemaleUnknownTrafficked  \
citizenship Year
AF          2013                        0                          0
            2014                        0                          0
            2015                        0                          0
AL          2005                        0                          0
BD          2015                        0                          0

                  KHFemaleUnknownTrafficked  KHMaleAdult-Trafficked  \
citizenship Year
AF          2013                          0                       0
            2014                          0                       0
            2015                          0                       0
AL          2005                          0                       0
BD          2015                          0                       0

                  KHMaleAdultTrafficked  KHMaleUnknownTrafficked
citizenship Year
AF          2013                      0                        0
            2014                      0                        0
            2015                      0                        0
AL          2005                      0                        0
BD          2015                      0                        0

[5 rows x 168 columns]

In [7]:
Total = traffickingCounts.T.sum().reset_index().rename(columns={0:"TotalTrafficked"})\
.set_index(['citizenship', 'Year'])

TotalFemale = traffickingCounts[traffickingCounts.columns[traffickingCounts \
                                            .columns.to_series().str.contains('Female')]] \
                                            .T.sum().reset_index().rename(columns={0:"TotalFemaleTrafficked"})\
.set_index(['citizenship', 'Year'])

TotalMale = traffickingCounts[traffickingCounts.columns[traffickingCounts \
                                            .columns.to_series().str.contains('Male')]] \
                                            .T.sum().reset_index().rename(columns={0:"TotalMaleTrafficked"})\
.set_index(['citizenship', 'Year'])

TotalChild =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
                                            .columns.to_series().str.contains('Child')]] \
                                            .T.sum().reset_index().rename(columns={0:"TotalChildTrafficked"})\
.set_index(['citizenship', 'Year'])


TotalAdultMinus =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
                                            .columns.to_series().str.contains('Adult-')]] \
                                            .T.sum().reset_index().rename(columns={0:"TotalAdult-Trafficked"})\
.set_index(['citizenship', 'Year'])

TotalAdult =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
                                            .columns.to_series().str.contains('AdultTraf')]] \
                                            .T.sum().reset_index().rename(columns={0:"TotalAdultTrafficked"})\
.set_index(['citizenship', 'Year'])

TotalAdultPlus =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
                                            .columns.to_series().str.contains('Adult+')]] \
                                            .T.sum().reset_index().rename(columns={0:"TotalAdult+Trafficked"})\
.set_index(['citizenship', 'Year'])


TotalMaleChild =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
                                            .columns.to_series().str.contains('MaleChild')]] \
                                            .T.sum().reset_index().rename(columns={0:"TotalMaleChildTrafficked"})\
.set_index(['citizenship', 'Year'])


TotalMaleAdultMinus =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
                                            .columns.to_series().str.contains('MaleAdult-')]] \
                                            .T.sum().reset_index().rename(columns={0:"TotalMaleAdult-Trafficked"})\
.set_index(['citizenship', 'Year'])

TotalMaleAdult =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
                                            .columns.to_series().str.contains('MaleAdultTraf')]] \
                                            .T.sum().reset_index().rename(columns={0:"TotalMaleAdultTrafficked"})\
.set_index(['citizenship', 'Year'])

TotalMaleAdultPlus =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
                                            .columns.to_series().str.contains('MaleAdult+')]] \
                                            .T.sum().reset_index().rename(columns={0:"TotalMaleAdult+Trafficked"})\
.set_index(['citizenship', 'Year'])

TotalFemaleChild =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
                                            .columns.to_series().str.contains('MaleChild')]] \
                                            .T.sum().reset_index().rename(columns={0:"TotalFemaleChildTrafficked"})\
.set_index(['citizenship', 'Year'])


TotalFemaleAdultMinus =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
                                            .columns.to_series().str.contains('FemaleAdult-')]] \
                                            .T.sum().reset_index().rename(columns={0:"TotalFemaleAdult-Trafficked"})\
.set_index(['citizenship', 'Year'])

TotalFemaleAdult =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
                                            .columns.to_series().str.contains('FemaleAdultTraf')]] \
                                            .T.sum().reset_index().rename(columns={0:"TotalFemaleAdultTrafficked"})\
.set_index(['citizenship', 'Year'])

TotalFemaleAdultPlus =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
                                            .columns.to_series().str.contains('FemaleAdult+')]] \
                                            .T.sum().reset_index().rename(columns={0:"TotalFemaleAdult+Trafficked"})\
.set_index(['citizenship', 'Year'])


FinalTotals = pandas.concat([Total, TotalChild, TotalAdult,
                 TotalAdultMinus, TotalAdultPlus, TotalFemale, TotalMale,
                 TotalMaleChild, TotalMaleAdultMinus, TotalMaleAdult, TotalMaleAdultPlus,
                TotalFemaleChild,TotalFemaleAdultMinus, TotalFemaleAdult, TotalFemaleAdultPlus],axis=1, join='outer')

In [8]:
FinalTrafficking = pandas.concat([FinalTotals, traffickingCounts], axis=1, join='outer')

FinalTrafficking = FinalTrafficking.reset_index().rename(columns={'citizenship': 'code'})
FinalTrafficking.head()

,code,Year,TotalTrafficked,TotalChildTrafficked,TotalAdultTrafficked,TotalAdult-Trafficked,TotalAdult+Trafficked,TotalFemaleTrafficked,TotalMaleTrafficked,TotalMaleChildTrafficked,...,USMaleAdultTrafficked,USUnknownYouthTrafficked,KHFemaleAdult-Trafficked,MGFemaleAdultTrafficked,SLFemaleAdultTrafficked,THFemaleUnknownTrafficked,KHFemaleUnknownTrafficked,KHMaleAdult-Trafficked,KHMaleAdultTrafficked,KHMaleUnknownTrafficked
0,AF,2013,37.0,0.0,0,0,0,0,37,0.0,...,0,0,0,0,0,0,0,0,0,0
1,AF,2014,188.0,0.0,0,0,0,16,172,0.0,...,0,0,0,0,0,0,0,0,0,0
2,AF,2015,14.0,0.0,0,0,0,0,14,0.0,...,0,0,0,0,0,0,0,0,0,0
3,AL,2005,45.0,0.0,11,23,34,45,0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,BD,2015,11.0,0.0,11,0,11,0,11,0.0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
migrationIN = pandas.read_csv('MigrationCountsAge-Gender.csv',error_bad_lines=False)
migrationIN = migrationIN.rename(columns={'Major area, region, country or area of destination': 'Destination'})

migrationIN['Origin'] = 'WORLD'
migrationIN = migrationIN.set_index('Origin').reset_index()

# migrationA = migrationA.set_index(['Origin', 'Year', 'Destination'])
migrationIN.tail(2050)
# migrationA.dtypes

,Origin,Destination,Year,Total,TotalYouth,TotalAdult,TotalElder,TotalMale,MaleYouth,MaleAdult,MaleElder,TotalFemale,FemaleYouth,FemaleAdult,FemaleElder
0,WORLD,Burundi,1990,333110,86938,230870,15302,163267,41491,114075,7701,169843,45447,116795,7601
1,WORLD,Comoros,1990,14079,3656,9973,450,6717,1561,4925,231,7362,2095,5048,219
2,WORLD,Djibouti,1990,122221,41767,77766,2688,64242,22913,39825,1504,57979,18854,37941,1184
3,WORLD,Eritrea,1990,11848,3311,8197,340,6228,1769,4305,154,5620,1542,3892,186
4,WORLD,Ethiopia,1990,1155390,396648,711765,46977,607284,211289,373118,22877,548106,185359,338647,24100
5,WORLD,Kenya,1990,297292,109787,172741,14764,160852,58215,94389,8248,136440,51572,78352,6516
6,WORLD,Madagascar,1990,23917,4910,15716,3291,13348,2103,9088,2157,10569,2807,6628,1134
7,WORLD,Malawi,1990,1127724,569896,525173,32655,546520,266422,264633,15465,581204,303474,260540,17190
8,WORLD,Mauritius,1990,3613,1182,2103,328,1763,579,1025,159,1850,603,1078,169
9,WORLD,Mayotte,1990,15229,4575,10354,300,8780,2311,6289,180,6449,2264,4065,120
10,WORLD,Mozambique,1990,122332,55885,63671,2776,66060,29090,35463,1507,56272,26795,28208,1269
11,WORLD,Réunion,1990,57210,19488,35704,2018,30724,9995,19600,1129,26486,9493,16104,889
12,WORLD,Rwanda,1990,159869,40818,108659,10392,80690,19547,57558,3585,79179,21271,51101,6807
13,WORLD,Seychelles,1990,3721,685,2857,179,2204,358,1761,85,1517,327,1096,94
14,WORLD,Somalia,1990,478294,238158,234399,5737,244201,111489,129580,3132,234093,126669,104819,2605
15,WORLD,South Sudan,1990,0,0,0,0,0,0,0,0,0,0,0,0
16,WORLD,Uganda,1990,558307,179337,347582,31388,290084,89963,181373,18748,268223,89374,166209,12640
17,WORLD,United Republic of Tanzania,1990,574025,187492,351748,34785,283390,90520,173885,18985,290635,96972,177863,15800
18,WORLD,Zambia,1990,279029,95900,171830,11299,142807,48007,88578,6222,136222,47893,83252,5077
19,WORLD,Zimbabwe,1990,626821,161731,444142,20948,352028,78684,262992,10352,274793,83047,181150,10596
20,WORLD,Middle Africa,1990,1460530,576982,835208,48340,744494,292423,426366,25705,716036,284559,408842,22635
21,WORLD,Angola,1990,33517,11666,20545,1306,18142,5523,11879,740,15375,6143,8666,566
22,WORLD,Cameroon,1990,265344,94132,165601,5611,145527,50769,91254,3504,119817,43363,74347,2107
23,WORLD,Central African Republic,1990,67234,28605,36515,2114,35686,14611,19936,1139,31548,13994,16579,975
24,WORLD,Chad,1990,74342,29398,41364,3580,40133,15192,22602,2339,34209,14206,18762,1241
25,WORLD,Congo,1990,129597,37215,87320,5062,64418,17269,44404,2745,65179,19946,42916,2317
26,WORLD,Democratic Republic of the Congo,1990,754194,327138,400152,26904,363117,163871,186120,13126,391077,163267,214032,13778
27,WORLD,Equatorial Guinea,1990,2740,757,1827,156,1465,312,1064,89,1275,445,763,67
28,WORLD,Gabon,1990,127980,46536,78129,3315,73053,24207,46963,1883,54927,22329,31166,1432
29,WORLD,Sao Tome and Principe,1990,5582,1535,3755,292,2953,669,2144,140,2629,866,1611,152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1847,WORLD,Saint Pierre and Miquelon,2017,990,236,682,72,519,124,365,30,471,112,317,42
1848,WORLD,United States of America,2017,49776970,3518317,38471339,7787314,24191609,1778745,19136148,3276716,25585361,1739572,19335191,4510598
1849,WORLD,OCEANIA,2017,8410933,878413,5912349,1620171,4122782,449565,2889919,783298,4288151,428848,3022430,836873
1850,WORLD,Australia/New Zealand,2017,8102983,820139,5691250,1591594,3957706,419828,2770234,767644,4145277,400311,2921016,823950
1851,WORLD,Australia,2017,7035560,681193,4942838,1411529,3441530,348502,2411999,681029,3594030,332691,2530839,730500
1852,WORLD,New Zealand,2017,1067423,138946,748412,180065,516176,71326,358235,86615,551247,67620,390177,93450
1853,WORLD,Melanesia,2017,118078,23673,80354,14051,66642,12597,46091,7954,51436,11076,34263,6097
1854,WORLD,Fiji,2017,13911,3016,9570,1325,7508,1663,5104,741,6403,1353,4466,584
1855,WORLD,New Caledonia,2017,66001,8096,47404,10501,35543,4239,25493,5811,30458,3857,21911,4690
1856,WORLD,Papua New Guinea,2017,32389,11188,19420,1781,20558,6055,13343,1160,11831,5133,6077,621
1857,WORLD,Solomon Islands,2017,2532,526,1778,228,1421,270,1027,124,1111,256,751,104
1858,WORLD,Vanuatu,2017,3245,847,2182,216,1612,370,1124,118,1633,477,1058,98
1859,WORLD,Micronesia,2017,117601,19940,89262,8399,59648,9751,45757,4140,57953,10189,43505,4259
1860,WORLD,Guam,2017,78027,12737,58841,6449,40246,6547,30495,3204,37781,6190,28346,3245
1861,WORLD,Kiribati,2017,3022,753,2123,146,1594,390,1129,75,1428,363,994,71
1862,WORLD,Marshall Islands,2017,3292,849,2281,162,2016,479,1441,96,1276,370,840,66
1863,WORLD,Micronesia (Fed. States of),2017,2785,638,1946,201,1489,286,1079,124,1296,352,867,77
1864,WORLD,Nauru,2017,3710,802,2624,284,2317,501,1633,183,1393,301,991,101
1865,WORLD,Northern Mariana Islands,2017,21777,3625,17213,939,9155,1274,7555,326,12622,2351,9658,613
1866,WORLD,Palau,2017,4988,536,4234,218,2831,274,2425,132,2157,262,1809,86
1867,WORLD,Polynesia,2017,72271,14661,51483,6127,38786,7389,27837,3560,33485,7272,23646,2567
1868,WORLD,American Samoa,2017,23561,3549,18037,1975,12023,1793,9222,1008,11538,1756,8815,967
1869,WORLD,Cook Islands,2017,4213,1412,2586,215,2109,698,1333,78,2104,714,1253,137
1870,WORLD,French Polynesia,2017,30687,4792,22692,3203,17495,2440,12913,2142,13192,2352,9779,1061
1871,WORLD,Niue,2017,553,252,284,17,300,123,169,8,253,129,115,9
1872,WORLD,Samoa,2017,4879,2188,2404,287,2444,1083,1217,144,2435,1105,1187,143
1873,WORLD,Tokelau,2017,504,250,221,33,242,115,119,8,262,135,102,25
1874,WORLD,Tonga,2017,4952,1529,3186,237,2691,784,1792,115,2261,745,1394,122
1875,WORLD,Tuvalu,2017,143,32,77,34,79,22,46,11,64,10,31,23
1876,WORLD,Wallis and Futuna Islands,2017,2779,657,1996,126,1403,331,1026,46,1376,326,970,80

In [11]:
migrationOut = pandas.read_csv('NumberofPeopleMigrated_PerCountries_PerYear.csv')
migrationOut = migrationOut.rename(columns={'Years': 'Year', '2': "Origin", 'value':'TotalMigrants'})
migrationOut = migrationOut.drop('Unnamed: 0', axis=1)
MigrantNums = migrationOut['TotalMigrants'].replace("..", 0)
# migrationOut = migrationOut.set_index(['Origin', 'Year'])


migrationOut['TotalMigrants'] = migrationOut['TotalMigrants'].apply(lambda x: x.replace('..','0'))
migrationOut['TotalMigrants'] = migrationOut['TotalMigrants'].apply(lambda x: pandas.to_numeric(x.replace(',','')))

In [12]:
migrationOut2 =  pandas.pivot_table(migrationOut, index=['Origin', 'Year'], columns='Countries of Destination', values='TotalMigrants')
migrationOut2 =  migrationOut2.reset_index()
migrationOut2.head()

Countries of Destination,Origin,Year,AFRICA,ASIA,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,...,Viet Nam,WORLD,Wallis and Futuna Islands,Western Africa,Western Asia,Western Europe,Western Sahara,Yemen,Zambia,Zimbabwe
0,Afghanistan,1990,1037,6604107,0,0,0,0,0,0,...,0,6724681,0,0,180765,53039,0,0,0,0
1,Afghanistan,1995,737,3453717,0,0,0,0,0,0,...,0,3625571,0,0,187343,77161,0,0,0,0
2,Afghanistan,2000,478,4317635,0,0,0,0,0,0,...,0,4541159,0,0,192198,101775,0,0,0,0
3,Afghanistan,2005,534,3522203,0,0,0,0,0,0,...,0,3826255,0,0,234996,122779,0,0,0,0
4,Afghanistan,2010,606,4606872,0,0,0,0,0,0,...,0,4989209,0,0,306777,129501,0,0,0,0

In [14]:
# DO WE EVEN WANT TO DO THIS? ##

FinalMigration = pandas.merge(migrationIN, migrationOut2, on='Origin', how='outer')
FinalMigration

,Origin,Destination,Year_x,Total,TotalYouth,TotalAdult,TotalElder,TotalMale,MaleYouth,MaleAdult,...,Viet Nam,WORLD,Wallis and Futuna Islands,Western Africa,Western Asia,Western Europe,Western Sahara,Yemen,Zambia,Zimbabwe
0,WORLD,Burundi,1990.0,333110.0,86938.0,230870.0,15302.0,163267.0,41491.0,114075.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,WORLD,Comoros,1990.0,14079.0,3656.0,9973.0,450.0,6717.0,1561.0,4925.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WORLD,Djibouti,1990.0,122221.0,41767.0,77766.0,2688.0,64242.0,22913.0,39825.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WORLD,Eritrea,1990.0,11848.0,3311.0,8197.0,340.0,6228.0,1769.0,4305.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,WORLD,Ethiopia,1990.0,1155390.0,396648.0,711765.0,46977.0,607284.0,211289.0,373118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,WORLD,Kenya,1990.0,297292.0,109787.0,172741.0,14764.0,160852.0,58215.0,94389.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,WORLD,Madagascar,1990.0,23917.0,4910.0,15716.0,3291.0,13348.0,2103.0,9088.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,WORLD,Malawi,1990.0,1127724.0,569896.0,525173.0,32655.0,546520.0,266422.0,264633.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,WORLD,Mauritius,1990.0,3613.0,1182.0,2103.0,328.0,1763.0,579.0,1025.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,WORLD,Mayotte,1990.0,15229.0,4575.0,10354.0,300.0,8780.0,2311.0,6289.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,WORLD,Mozambique,1990.0,122332.0,55885.0,63671.0,2776.0,66060.0,29090.0,35463.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,WORLD,Réunion,1990.0,57210.0,19488.0,35704.0,2018.0,30724.0,9995.0,19600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,WORLD,Rwanda,1990.0,159869.0,40818.0,108659.0,10392.0,80690.0,19547.0,57558.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,WORLD,Seychelles,1990.0,3721.0,685.0,2857.0,179.0,2204.0,358.0,1761.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,WORLD,Somalia,1990.0,478294.0,238158.0,234399.0,5737.0,244201.0,111489.0,129580.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,WORLD,South Sudan,1990.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,WORLD,Uganda,1990.0,558307.0,179337.0,347582.0,31388.0,290084.0,89963.0,181373.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,WORLD,United Republic of Tanzania,1990.0,574025.0,187492.0,351748.0,34785.0,283390.0,90520.0,173885.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,WORLD,Zambia,1990.0,279029.0,95900.0,171830.0,11299.0,142807.0,48007.0,88578.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,WORLD,Zimbabwe,1990.0,626821.0,161731.0,444142.0,20948.0,352028.0,78684.0,262992.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,WORLD,Middle Africa,1990.0,1460530.0,576982.0,835208.0,48340.0,744494.0,292423.0,426366.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,WORLD,Angola,1990.0,33517.0,11666.0,20545.0,1306.0,18142.0,5523.0,11879.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,WORLD,Cameroon,1990.0,265344.0,94132.0,165601.0,5611.0,145527.0,50769.0,91254.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,WORLD,Central African Republic,1990.0,67234.0,28605.0,36515.0,2114.0,35686.0,14611.0,19936.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,WORLD,Chad,1990.0,74342.0,29398.0,41364.0,3580.0,40133.0,15192.0,22602.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,WORLD,Congo,1990.0,129597.0,37215.0,87320.0,5062.0,64418.0,17269.0,44404.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,WORLD,Democratic Republic of the Congo,1990.0,754194.0,327138.0,400152.0,26904.0,363117.0,163871.0,186120.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,WORLD,Equatorial Guinea,1990.0,2740.0,757.0,1827.0,156.0,1465.0,312.0,1064.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,WORLD,Gabon,1990.0,127980.0,46536.0,78129.0,3315.0,73053.0,24207.0,46963.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,WORLD,Sao Tome and Principe,1990.0,5582.0,1535.0,3755.0,292.0,2953.0,669.0,2144.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3471,Wallis and Futuna Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,7843.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3472,Wallis and Futuna Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,8058.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3473,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,168239.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,0.0
3474,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,167149.0,0.0,0.0,0.0,16.0,0.0,0.0,0.0,0.0
3475,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,166064.0,0.0,0.0,0.0,16.0,0.0,0.0,0.0,0.0
3476,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,131088.0,0.0,0.0,0.0,37.0,0.0,0.0,0.0,0.0
3477,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,144296.0,0.0,0.0,0.0,16.0,0.0,0.0,0.0,0.0
3478,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,187287.0,0.0,28007.0,0.0,17.0,0.0,0.0,0.0,0.0
3479,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,193687.0,0.0,28324.0,0.0,16.0,0.0,0.0,0.0,0.0
3480,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,455442.0,0.0,0.0,426193.0,2251.0,0.0,0.0,0.0,0.0
3481,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,486199.0,0.0,0.0,441636.0,2728.0,0.0,0.0,0.0,0.0
3482,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,529341.0,0.0,0.0,468515.0,3208.0,0.0,0.0,0.0,0.0
3483,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,630975.0,0.0,0.0,557852.0,3260.0,0.0,0.0,0.0,0.0
3484,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,879636.0,0.0,0.0,791184.0,3695.0,0.0,0.0,0.0,0.0
3485,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1089146.0,0.0,0.0,983725.0,4036.0,0.0,0.0,0.0,0.0
3486,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1190005.0,0.0,0.0,1079450.0,4650.0,0.0,0.0,0.0,0.0
3487,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,83210.0,0.0,0.0,34.0,1298.0,0.0,0.0,0.0,17966.0
3488,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,140503.0,0.0,0.0,48.0,1599.0,0.0,0.0,0.0,22815.0
3489,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,160252.0,0.0,0.0,62.0,1920.0,0.0,0.0,0.0,26337.0
3490,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,178057.0,0.0,0.0,91.0,2392.0,0.0,0.0,0.0,29766.0
3491,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,213589.0,0.0,0.0,145.0,2545.0,0.0,0.0,0.0,30373.0
3492,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,263912.0,0.0,0.0,147.0,2805.0,0.0,0.0,0.0,30662.0
3493,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,275089.0,0.0,0.0,144.0,3042.0,0.0,0.0,0.0,30662.0
3494,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,176697.0,0.0,0.0,76.0,2583.0,0.0,0.0,34625.0,0.0
3495,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,252637.0,0.0,0.0,108.0,2447.0,0.0,0.0,23707.0,0.0
3496,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,310753.0,0.0,0.0,139.0,2357.0,0.0,0.0,9056.0,0.0
3497,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,478835.0,0.0,0.0,203.0,2744.0,0.0,0.0,12444.0,0.0
3498,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,813942.0,0.0,0.0,326.0,3337.0,0.0,0.0,17106.0,0.0
3499,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,966782.0,0.0,4.0,332.0,3681.0,0.0,0.0,17768.0,0.0
3500,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1025204.0,0.0,3.0,326.0,3780.0,0.0,0.0,17945.0,0.0

In [15]:
gdp = pandas.read_csv('Countries_GDP.csv')
gdp = pandas.DataFrame(gdp)
gdp = gdp.rename(columns={'Code':'code'})
gdp['code'] = gdp['code'].apply(str)
gdp = gdp.replace('..', -99)
gdp['GDP'] = gdp['GDP'].apply(float)
gdp = gdp.rename(columns={'GDP':'GDP(ppp)'})
# gdp.dtypes
gdp.head(5)

  Country Name code  Year     GDP(ppp)
0  Afghanistan   AF  1990   -99.000000
1  Afghanistan   AF  1995   -99.000000
2  Afghanistan   AF  2000   -99.000000
3  Afghanistan   AF  2005  1011.595524
4  Afghanistan   AF  2010  1581.600836

In [16]:
 def colorPick(gdp_md_est):

# divided 190 countries into 7 equal categories
     
#     (190.0, 166.375, 142.75, 119.125, 95.5, 71.875, 48.25, 24.625, 1.0)
#  GDP(ppp) categories based on 2017 numbers

    if gdp_md_est > 1088982:
        color = "CHARTREUSE"
    elif gdp_md_est > 367301:
        color = "PALEGREEN"
    elif gdp_md_est > 171588:
        color = "SKYBLUE"
    elif gdp_md_est > 71926:
        color = "PALEVIOLETRED"
    elif gdp_md_est > 34633:
        color = "SANDYBROWN"
    elif gdp_md_est > 19688:
        color = "ORANGERED"
    elif gdp_md_est > 3165:
        color = "RED"
    else:
        color = 'slategrey'

    return color

In [17]:
# for index,row in gdp.iterrows():
#     gdp['color'] = gdp['GDP(ppp)'].apply(colorPick)
# gdp.head(5)
gdp[gdp['code']=='US']

       Country Name code  Year     GDP(ppp)
1757  United States   US  1990  23954.47935
1758  United States   US  1995  28782.17502
1759  United States   US  2000  36449.85512
1760  United States   US  2005  44307.92058
1761  United States   US  2010  48375.40695
1762  United States   US  2015  56443.81724
1763  United States   US  2017  59531.66196

In [18]:
gdp['code'].dtypes == FinalTrafficking['code'].dtypes and gdp['Year'].dtypes == FinalTrafficking['Year'].dtypes

True

In [19]:
TraffickedWithGdp = pandas.merge(FinalTrafficking,gdp,on='code')
TraffickedWithGdp.tail(5)

,code,Year_x,TotalTrafficked,TotalChildTrafficked,TotalAdultTrafficked,TotalAdult-Trafficked,TotalAdult+Trafficked,TotalFemaleTrafficked,TotalMaleTrafficked,TotalMaleChildTrafficked,...,MGFemaleAdultTrafficked,SLFemaleAdultTrafficked,THFemaleUnknownTrafficked,KHFemaleUnknownTrafficked,KHMaleAdult-Trafficked,KHMaleAdultTrafficked,KHMaleUnknownTrafficked,Country Name,Year_y,GDP(ppp)
1017,VN,2018,31.0,0.0,0,0,0,31,0,0.0,...,0,0,0,31,0,0,0,Vietnam,2000,2030.797288
1018,VN,2018,31.0,0.0,0,0,0,31,0,0.0,...,0,0,0,31,0,0,0,Vietnam,2005,3032.391019
1019,VN,2018,31.0,0.0,0,0,0,31,0,0.0,...,0,0,0,31,0,0,0,Vietnam,2010,4318.997405
1020,VN,2018,31.0,0.0,0,0,0,31,0,0.0,...,0,0,0,31,0,0,0,Vietnam,2015,5915.170833
1021,VN,2018,31.0,0.0,0,0,0,31,0,0.0,...,0,0,0,31,0,0,0,Vietnam,2017,6775.832191

In [20]:
traffickedGDPglobe = pandas.merge(globe, TraffickedWithGdp, on='code')
traffickedGDPglobe

,geometry.coordinates,geometry.type,properties.economy,properties.income_grp,code,properties.name,properties.sovereignt,properties.type,Year_x,TotalTrafficked,...,MGFemaleAdultTrafficked,SLFemaleAdultTrafficked,THFemaleUnknownTrafficked,KHFemaleUnknownTrafficked,KHMaleAdult-Trafficked,KHMaleAdultTrafficked,KHMaleUnknownTrafficked,Country Name,Year_y,GDP(ppp)
0,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2012,285.0,...,0,0,0,0,0,0,0,Haiti,1990,-99.000000
1,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2012,285.0,...,0,0,0,0,0,0,0,Haiti,1995,-99.000000
2,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2012,285.0,...,0,0,0,0,0,0,0,Haiti,2000,1378.692051
3,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2012,285.0,...,0,0,0,0,0,0,0,Haiti,2005,1390.757782
4,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2012,285.0,...,0,0,0,0,0,0,0,Haiti,2010,1471.648649
5,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2012,285.0,...,0,0,0,0,0,0,0,Haiti,2015,1758.334460
6,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2012,285.0,...,0,0,0,0,0,0,0,Haiti,2017,1814.943236
7,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2013,54.0,...,0,0,0,0,0,0,0,Haiti,1990,-99.000000
8,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2013,54.0,...,0,0,0,0,0,0,0,Haiti,1995,-99.000000
9,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2013,54.0,...,0,0,0,0,0,0,0,Haiti,2000,1378.692051
10,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2013,54.0,...,0,0,0,0,0,0,0,Haiti,2005,1390.757782
11,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2013,54.0,...,0,0,0,0,0,0,0,Haiti,2010,1471.648649
12,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2013,54.0,...,0,0,0,0,0,0,0,Haiti,2015,1758.334460
13,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2013,54.0,...,0,0,0,0,0,0,0,Haiti,2017,1814.943236
14,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2017,13.0,...,0,0,0,0,0,0,0,Haiti,1990,-99.000000
15,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2017,13.0,...,0,0,0,0,0,0,0,Haiti,1995,-99.000000
16,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2017,13.0,...,0,0,0,0,0,0,0,Haiti,2000,1378.692051
17,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2017,13.0,...,0,0,0,0,0,0,0,Haiti,2005,1390.757782
18,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2017,13.0,...,0,0,0,0,0,0,0,Haiti,2010,1471.648649
19,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2017,13.0,...,0,0,0,0,0,0,0,Haiti,2015,1758.334460
20,"[[[[-73.69424394399988, 18.106878973000093], [...",MultiPolygon,7. Least developed region,5. Low income,HT,Haiti,Haiti,Sovereign country,2017,13.0,...,0,0,0,0,0,0,0,Haiti,2017,1814.943236
21,"[[[[-114.7340388659999, 18.329250393000038], [...",MultiPolygon,4. Emerging region: MIKT,3. Upper middle income,MX,Mexico,Mexico,Sovereign country,2015,64.0,...,0,0,0,0,0,0,0,Mexico,1990,6037.003546
22,"[[[[-114.7340388659999, 18.329250393000038], [...",MultiPolygon,4. Emerging region: MIKT,3. Upper middle income,MX,Mexico,Mexico,Sovereign country,2015,64.0,...,0,0,0,0,0,0,0,Mexico,1995,8390.342787
23,"[[[[-114.7340388659999, 18.329250393000038], [...",MultiPolygon,4. Emerging region: MIKT,3. Upper middle income,MX,Mexico,Mexico,Sovereign country,2015,64.0,...,0,0,0,0,0,0,0,Mexico,2000,10799.058350
24,"[[[[-114.7340388659999, 18.329250393000038], [...",MultiPolygon,4. Emerging region: MIKT,3. Upper middle income,MX,Mexico,Mexico,Sovereign country,2015,64.0,...,0,0,0,0,0,0,0,Mexico,2005,12369.759750
25,"[[[[-114.7340388659999, 18.329250393000038], [...",MultiPolygon,4. Emerging region: MIKT,3. Upper middle income,MX,Mexico,Mexico,Sovereign country,2015,64.0,...,0,0,0,0,0,0,0,Mexico,2010,14858.538650
26,"[[[[-114.7340388659999, 18.329250393000038], [...",MultiPolygon,4. Emerging region: MIKT,3. Upper middle income,MX,Mexico,Mexico,Sovereign country,2015,64.0,...,0,0,0,0,0,0,0,Mexico,2015,17239.320660
27,"[[[[-114.7340388659999, 18.329250393000038], [...",MultiPolygon,4. Emerging region: MIKT,3. Upper middle income,MX,Mexico,Mexico,Sovereign country,2015,64.0,...,0,0,0,0,0,0,0,Mexico,2017,18258.096210
28,"[[[[-114.7340388659999, 18.329250393000038], [...",MultiPolygon,4. Emerging region: MIKT,3. Upper middle income,MX,Mexico,Mexico,Sovereign country,2016,112.0,...,0,0,0,0,0,0,0,Mexico,1990,6037.003546
29,"[[[[-114.7340388659999, 18.329250393000038], [...",MultiPolygon,4. Emerging region: MIKT,3. Upper middle income,MX,Mexico,Mexico,Sovereign country,2016,112.0,...,0,0,0,0,0,0,0,Mexico,1995,8390.342787
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,"[[[[106.66871178500006, 8.753485419000171], [1...",MultiPolygon,5. Emerging region: G20,4. Lower middle income,VN,Vietnam,Vietnam,Sovereign country,2017,139.0,...,0,0,0,0,0,0,0,Vietnam,2015,5915.170833
993,"[[[[106.66871178500006, 8.753485419000171], [1...",MultiPolygon,5. Emerging region: G20,4. Lower middle income,VN,Vietnam,Vietnam,Sovereign country,2017,139.0,...,0,0,0,0,0,0,0,Vietnam,2017,6775.832191
994,"[[[[106.66871178500006, 8.753485419000171], [1...",MultiPolygon,5. Emerging region: G20,4. Lower middle income,VN,Vietnam,Vietnam,Sovereign country,2018,31.0,...,0,0,0,31,0,0,0,Vietnam,1990,939.042719
995,"[[[[106.66871178500006, 8.753485419000171], [1...",MultiPolygon,5. Emerging region: G20,4. Lower middle income,VN,Vietnam,Vietnam,Sovereign country,2018,31.0,...,0,0,0,31,0,0,0,Vietnam,1995,1425.229198
996,"[[[[106.66871178500006, 8.753485419000171], [1...",MultiPolygon,5. Emerging region: G20,4. Lower middle income,VN,Vietnam,Vietnam,Sovereign country,2018,31.0,...,0,0,0,31,0,0,0,Vietnam,2000,2030.797288
997,"[[[[106.66871178500006, 8.753485419000171], [1...",MultiPolygon,5. Emerging region: G20,4. Lower middle income,VN,Vietnam,Vietnam,Sovereign country,2018,31.0,...,0,0,0,31,0,0,0,Vietnam,2005,3032.391019
998,"[[[[106.66871178500006, 8.753485419000171], [1...",MultiPolygon,5. Emerging region: G20,4. Lower middle income,VN,Vietnam,Vietnam,Sovereign country,2018,31.0,...,0,0,0,31,0,0,0,Vietnam,2010,4318.997405
999,"[[[[106.66871178500006, 8.753485419000171], [1...",MultiPolygon,5. Emerging region: G20,4. Lower middle income,VN,Vietnam,Vietnam,Sovereign country,2018,31.0,...,0,0,0,31,0,0,0,Vietnam,2015,5915.170833
1000,"[[[[106.66871178500006, 8.753485419000171], [1...",MultiPolygon,5. Emerging region: G20,4. Lower middle income,VN,Vietnam,Vietnam,Sovereign country,2018,31.0,...,0,0,0,31,0,0,0,Vietnam,2017,6775.832191
1001,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2002,74.0,...,0,0,0,0,0,0,0,Colombia,1990,4869.161847
1002,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2002,74.0,...,0,0,0,0,0,0,0,Colombia,1995,6155.688861
1003,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2002,74.0,...,0,0,0,0,0,0,0,Colombia,2000,6585.334138
1004,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2002,74.0,...,0,0,0,0,0,0,0,Colombia,2005,8248.355342
1005,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2002,74.0,...,0,0,0,0,0,0,0,Colombia,2010,10680.003010
1006,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2002,74.0,...,0,0,0,0,0,0,0,Colombia,2015,13827.672790
1007,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2002,74.0,...,0,0,0,0,0,0,0,Colombia,2017,14552.008560
1008,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2003,37.0,...,0,0,0,0,0,0,0,Colombia,1990,4869.161847
1009,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2003,37.0,...,0,0,0,0,0,0,0,Colombia,1995,6155.688861
1010,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2003,37.0,...,0,0,0,0,0,0,0,Colombia,2000,6585.334138
1011,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2003,37.0,...,0,0,0,0,0,0,0,Colombia,2005,8248.355342
1012,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2003,37.0,...,0,0,0,0,0,0,0,Colombia,2010,10680.003010
1013,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2003,37.0,...,0,0,0,0,0,0,0,Colombia,2015,13827.672790
1014,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2003,37.0,...,0,0,0,0,0,0,0,Colombia,2017,14552.008560
1015,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2010,13.0,...,0,0,0,0,0,0,0,Colombia,1990,4869.161847
1016,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2010,13.0,...,0,0,0,0,0,0,0,Colombia,1995,6155.688861
1017,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2010,13.0,...,0,0,0,0,0,0,0,Colombia,2000,6585.334138
1018,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2010,13.0,...,0,0,0,0,0,0,0,Colombia,2005,8248.355342
1019,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2010,13.0,...,0,0,0,0,0,0,0,Colombia,2010,10680.003010
1020,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2010,13.0,...,0,0,0,0,0,0,0,Colombia,2015,13827.672790
1021,"[[[[-78.2048906179999, 2.687339382000118], [-7...",MultiPolygon,6. Developing region,3. Upper middle income,CO,Colombia,Colombia,Sovereign country,2010,13.0,...,0,0,0,0,0,0,0,Colombia,2017,14552.008560

In [ ]:
FINALDF = pandas.merge(traffickedGDPglobe, FinalMigration, how='outer', left_on='Country Name', right_on="Origin")
FINALDF

In [21]:
traffickedGDPglobe.to_csv('GEOTraffickingGDPppp.csv')