In [3]:
import pprint
import pandas
import geopandas
from pandas.io.json import json_normalize
import geojson

import json
import numpy
from czml import czml

In [45]:
with open('../static/data/globe.geo.json') as f:
    globeraw = geojson.load(f)
globe = pandas.DataFrame(globeraw)
# globe['features'][1]
globe.head()

                                            features               type
0  {'properties': {'mapcolor8': 7, 'brk_group': N...  FeatureCollection
1  {'properties': {'mapcolor8': 6, 'brk_group': N...  FeatureCollection
2  {'properties': {'mapcolor8': 5, 'brk_group': N...  FeatureCollection
3  {'properties': {'mapcolor8': 2, 'brk_group': N...  FeatureCollection
4  {'properties': {'mapcolor8': 1, 'brk_group': N...  FeatureCollection

In [48]:
globe = pandas.io.json.json_normalize(data['features'])
globe = globe.drop(['properties.abbrev', 'properties.abbrev_len',
              'properties.adm0_a3', 'properties.adm0_a3_is', 'properties.adm0_a3_un',
            'properties.adm0_a3_wb', 'properties.adm0_dif', 'properties.brk_diff',
             'properties.adm0_a3_us', 'properties.brk_a3', 'properties.brk_group',
             'properties.brk_name', 'properties.featurecla', 'properties.tiny',
             'properties.filename', 'properties.fips_10_', 'properties.formal_en',
             'properties.formal_fr', 'properties.gdp_md_est', 'properties.gdp_year',
             'properties.geounit', 'properties.subunit', 'properties.geou_dif', 
             'properties.gu_a3', 'properties.homepart', 'properties.iso_a3', 
              'properties.un_a3', 'properties.wb_a2', 'properties.wb_a3',
             'properties.wikipedia', 'properties.labelrank', 'properties.lastcensus',
             'properties.level', 'properties.sov_a3', 'properties.su_a3',
             'properties.su_dif', 'properties.subregion', 'properties.woe_id', 
             'properties.woe_note', 'properties.woe_id_eh', 'properties.long_len',
             'properties.mapcolor13','properties.mapcolor9','properties.mapcolor8',
             'properties.mapcolor7', 'properties.admin', 'properties.name_alt', 'properties.note_brk',
             'properties.postal', 'properties.pop_est', 'properties.pop_year', 
             'properties.note_brk', 'properties.region_un', 'properties.scalerank',
             'properties.iso_n3', 'properties.name_long', 'properties.name_sort',
             'properties.name_len', 'properties.region_wb', 'properties.note_adm0',
            'properties.continent', 'type'
             ], axis=1)
# df = df.set_index('properties.admin', drop=True)
globe.rename(columns = {'properties.iso_a2': 'properties.code'}, inplace=True)
globe['properties.code'] = globe['properties.code'].astype(str)
globe.sort_values('properties.code').head(25)

,geometry.coordinates,geometry.type,properties.economy,properties.income_grp,properties.code,properties.name,properties.sovereignt,properties.type
0,"[[[-79.98928788999987, 15.794948635000056], [-...",Polygon,7. Least developed region,5. Low income,-99,Bajo Nuevo Bank (Petrel Is.),Bajo Nuevo Bank (Petrel Is.),Indeterminate
41,"[[[123.59701582100011, -12.428317966999899], [...",Polygon,7. Least developed region,5. Low income,-99,Ashmore and Cartier Is.,Australia,Dependency
42,"[[[154.3912866550001, -21.030043226999865], [1...",Polygon,7. Least developed region,5. Low income,-99,Coral Sea Is.,Australia,Dependency
87,"[[[[55.5013126960001, -20.87322356599999], [55...",MultiPolygon,1. Developed region: G7,1. High income: OECD,-99,France,France,Country
94,"[[[20.864700154000047, 43.217337342000036], [2...",Polygon,6. Developing region,4. Lower middle income,-99,Kosovo,Kosovo,Sovereign country
26,"[[[-78.63707434799987, 15.862087307000108], [-...",Polygon,7. Least developed region,5. Low income,-99,Serranilla Bank,Serranilla Bank,Indeterminate
111,"[[[[3.382578972000089, -54.44931405999998], [3...",MultiPolygon,2. Developed region: nonG7,1. High income: OECD,-99,Norway,Norway,Sovereign country
160,"[[[48.939111999908164, 11.249129976335054], [4...",Polygon,6. Developing region,4. Lower middle income,-99,Somaliland,Somaliland,Indeterminate
180,"[[[33.905867961000126, 35.09088246600004], [33...",Polygon,2. Developed region: nonG7,2. High income: nonOECD,-99,Dhekelia,United Kingdom,Dependency
182,"[[[[32.626204468000225, 35.165089824000134], [...",MultiPolygon,6. Developing region,3. Upper middle income,-99,N. Cyprus,Northern Cyprus,Sovereign country
183,"[[[[33.92540165200015, 35.06277048700004], [33...",MultiPolygon,6. Developing region,2. High income: nonOECD,-99,Cyprus U.N. Buffer Zone,Cyprus No Mans Area,Indeterminate
40,"[[[[-75.18395510799986, 19.93359416400007], [-...",MultiPolygon,2. Developed region: nonG7,2. High income: nonOECD,-99,USNB Guantanamo Bay,Cuba,Lease
192,"[[[63.3839136150001, 45.56582448300014], [63.3...",Polygon,2. Developed region: nonG7,3. Upper middle income,-99,Baikonur,Kazakhstan,Lease
187,"[[[[96.9139103520001, -12.194512627999854], [9...",MultiPolygon,2. Developed region: nonG7,2. High income: nonOECD,-99,Indian Ocean Ter.,Australia,Dependency
218,"[[[117.753887178, 15.154369263000063], [117.75...",Polygon,7. Least developed region,5. Low income,-99,Scarborough Reef,Scarborough Reef,Indeterminate
228,"[[[32.84080876400009, 34.69946744100013], [32....",Polygon,2. Developed region: nonG7,2. High income: nonOECD,-99,Akrotiri,United Kingdom,Dependency
206,"[[[[114.37647545700004, 9.68012116100013], [11...",MultiPolygon,7. Least developed region,5. Low income,-99,Spratly Is.,Spratly Islands,Indeterminate
195,"[[[76.97641727700011, 35.57865631200005], [77....",Polygon,6. Developing region,4. Lower middle income,-99,Siachen Glacier,Kashmir,Indeterminate
68,"[[[1.707006470000067, 42.5027814740001], [1.69...",Polygon,2. Developed region: nonG7,2. High income: nonOECD,AD,Andorra,Andorra,Sovereign country
178,"[[[[53.863047722, 24.234686591000138], [53.888...",MultiPolygon,6. Developing region,2. High income: nonOECD,AE,United Arab Emirates,United Arab Emirates,Sovereign country
172,"[[[71.04980228700008, 38.40866445000009], [71....",Polygon,7. Least developed region,5. Low income,AF,Afghanistan,Afghanistan,Sovereign country
7,"[[[[-61.773019985999916, 17.126532294000143], ...",MultiPolygon,6. Developing region,3. Upper middle income,AG,Antigua and Barb.,Antigua and Barbuda,Sovereign country
1,"[[[[-63.037668423999946, 18.212958075000028], ...",MultiPolygon,6. Developing region,3. Upper middle income,AI,Anguilla,United Kingdom,Dependency
69,"[[[19.747765747000074, 42.57890085900007], [19...",Polygon,6. Developing region,4. Lower middle income,AL,Albania,Albania,Sovereign country
174,"[[[[45.54717289200002, 40.62155263300009], [45...",MultiPolygon,6. Developing region,4. Lower middle income,AM,Armenia,Armenia,Sovereign country

In [6]:
trafficking = pandas.read_csv('trafficking.csv',low_memory=False)
# trafficking.columns = ['code', 'Year', 'CountryOfExploitation', 'TraffickedGender',
#                        'TraffickedageBroad', 'TraffickedCount'  ]
# trafficking['code'] = trafficking['code'].astype(str)
# trafficking = trafficking.sort_values(['code', 'Year'])


trafficking = trafficking.drop(trafficking.columns[[0, 2]], axis=1)
trafficking = trafficking.replace(['-99','18--20', '24--26', '30--38', '21--23',
                           '27--29', '9--17','39--47', '48+', '0--8',
                           'Unknown'], ['Unknown','Adult-', 'Adult', 'Adult', 'Adult',
                                        'Adult', 'Youth', 'Adult', 'Adult+', 'Youth', 
                                            'ZZ'])
trafficking = trafficking.rename(columns={'yearOfRegistration':"Year"})
# TraffickingCounts = 


# trafficking = trafficking.set_index('citizenship')
# trafficking.dtypes
# trafficking['Year'] = trafficking['Year'].astype(str)
trafficking = trafficking[['Year', 'gender', 'ageBroad','citizenship','CountryOfExploitation']]
trafficking.head(5)

   Year gender ageBroad citizenship CountryOfExploitation
0  2002     ZZ       ZZ          ZZ                    ZZ
1  2002     ZZ       ZZ          ZZ                    ZZ
2  2002     ZZ       ZZ          ZZ                    ZZ
3  2002     ZZ       ZZ          ZZ                    ZZ
4  2002     ZZ       ZZ          ZZ                    ZZ

In [7]:
traffickingCounts = trafficking.groupby(['citizenship', "Year","CountryOfExploitation"],
                 as_index=False).count().iloc[:,:-1]\

                .rename(columns={'citizenship':'properties.code','gender':'CaseCount'})
#                        .set_index(['citizenship', 'Year']) \
traffickingCounts.head()

  properties.code  Year CountryOfExploitation  CaseCount
0              AF  2013                    AF         12
1              AF  2013                    ZZ         25
2              AF  2014                    AF         72
3              AF  2014                    ZZ        116
4              AF  2015                    SA         14

In [8]:
longcounts = traffickingCounts[['properties.code', "Year"]].drop_duplicates()
for index,row in traffickingCounts.iterrows():

    col = row[2]
    
#     TOTAL
    longcounts.loc[(longcounts['properties.code'] == row[0]) & (longcounts["Year"] == row[1]),
                   "Total"] = traffickingCounts.loc[
                            (traffickingCounts['properties.code'] == row[0]) &
                            (traffickingCounts["Year"] == row[1])]['CaseCount'].sum()

#     EACH COUNTRY

    longcounts.loc[(longcounts['properties.code'] == row[0]) &  (longcounts["Year"] == row[1]),
               col] = traffickingCounts.loc[
                        (traffickingCounts['properties.code'] == row[0]) &
                        (traffickingCounts["Year"] == row[1]) &
                        (traffickingCounts['CountryOfExploitation'] == col)]['CaseCount'].values[0]



longcounts.reset_index().to_json("TraffickingCounts.json", orient="records")

In [9]:
longcounts.iloc[3:]

,properties.code,Year,Total,AF,ZZ,SA,AL,TJ,SN,BG,...,IT,RO,DK,SL,TM,CZ,AT,UZ,VN,MX
5,AL,2005,45.0,NaN,NaN,NaN,45.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,BD,2015,11.0,NaN,NaN,NaN,NaN,11.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,BF,2010,33.0,NaN,NaN,NaN,NaN,NaN,33.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,BG,2005,116.0,NaN,NaN,NaN,NaN,NaN,NaN,116.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,BG,2007,226.0,NaN,NaN,NaN,NaN,NaN,NaN,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,BO,2012,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,BY,2004,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,BY,2005,292.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,BY,2006,257.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,BY,2007,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,BY,2008,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,BY,2010,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,BY,2011,88.0,NaN,63.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,BY,2012,161.0,NaN,161.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,BY,2013,301.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,BY,2014,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,BY,2015,106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,BY,2016,114.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,BY,2017,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,CD,2007,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,CI,2007,31.0,NaN,NaN,NaN,NaN,NaN,31.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,CN,2015,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,CN,2016,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,CN,2017,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,CO,2002,74.0,NaN,74.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,CO,2003,37.0,NaN,37.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,CO,2010,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,ER,2014,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,GH,2005,514.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,GH,2006,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,UA,2009,328.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,UA,2010,370.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,UA,2011,429.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,UA,2012,859.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,UA,2013,638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,UA,2014,735.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,UA,2015,422.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,UA,2016,794.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,UA,2017,1174.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,UA,2018,240.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,UG,2014,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,US,2015,1261.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,US,2016,1529.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,US,2017,1369.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,UZ,2005,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.0,NaN,NaN
227,UZ,2011,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,UZ,2013,115.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115.0,NaN,NaN
229,UZ,2015,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,UZ,2017,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,VN,2016,15.0,NaN,15.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,VN,2017,139.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,NaN
236,VN,2018,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,ZZ,2002,13.0,NaN,13.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,ZZ,2009,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,ZZ,2013,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,ZZ,2014,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0
243,ZZ,2015,2609.0,NaN,25.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,ZZ,2016,3865.0,NaN,76.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,ZZ,2017,6079.0,NaN,226.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,ZZ,2018,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Total = traffickingCounts.T.sum().reset_index().rename(columns={0:"TotalTrafficked"})\
# .set_index(['citizenship', 'Year'])

# TotalFemale = traffickingCounts[traffickingCounts.columns[traffickingCounts \
#                                             .columns.to_series().str.contains('Female')]] \
#                                             .T.sum().reset_index().rename(columns={0:"TotalFemaleTrafficked"})\
# .set_index(['citizenship', 'Year'])

# TotalMale = traffickingCounts[traffickingCounts.columns[traffickingCounts \
#                                             .columns.to_series().str.contains('Male')]] \
#                                             .T.sum().reset_index().rename(columns={0:"TotalMaleTrafficked"})\
# .set_index(['citizenship', 'Year'])

# TotalChild =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
#                                             .columns.to_series().str.contains('Child')]] \
#                                             .T.sum().reset_index().rename(columns={0:"TotalChildTrafficked"})\
# .set_index(['citizenship', 'Year'])


# TotalAdultMinus =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
#                                             .columns.to_series().str.contains('Adult-')]] \
#                                             .T.sum().reset_index().rename(columns={0:"TotalAdult-Trafficked"})\
# .set_index(['citizenship', 'Year'])

# TotalAdult =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
#                                             .columns.to_series().str.contains('AdultTraf')]] \
#                                             .T.sum().reset_index().rename(columns={0:"TotalAdultTrafficked"})\
# .set_index(['citizenship', 'Year'])

# TotalAdultPlus =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
#                                             .columns.to_series().str.contains('Adult+')]] \
#                                             .T.sum().reset_index().rename(columns={0:"TotalAdult+Trafficked"})\
# .set_index(['citizenship', 'Year'])


# TotalMaleChild =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
#                                             .columns.to_series().str.contains('MaleChild')]] \
#                                             .T.sum().reset_index().rename(columns={0:"TotalMaleChildTrafficked"})\
# .set_index(['citizenship', 'Year'])


# TotalMaleAdultMinus =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
#                                             .columns.to_series().str.contains('MaleAdult-')]] \
#                                             .T.sum().reset_index().rename(columns={0:"TotalMaleAdult-Trafficked"})\
# .set_index(['citizenship', 'Year'])

# TotalMaleAdult =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
#                                             .columns.to_series().str.contains('MaleAdultTraf')]] \
#                                             .T.sum().reset_index().rename(columns={0:"TotalMaleAdultTrafficked"})\
# .set_index(['citizenship', 'Year'])

# TotalMaleAdultPlus =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
#                                             .columns.to_series().str.contains('MaleAdult+')]] \
#                                             .T.sum().reset_index().rename(columns={0:"TotalMaleAdult+Trafficked"})\
# .set_index(['citizenship', 'Year'])

# TotalFemaleChild =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
#                                             .columns.to_series().str.contains('MaleChild')]] \
#                                             .T.sum().reset_index().rename(columns={0:"TotalFemaleChildTrafficked"})\
# .set_index(['citizenship', 'Year'])


# TotalFemaleAdultMinus =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
#                                             .columns.to_series().str.contains('FemaleAdult-')]] \
#                                             .T.sum().reset_index().rename(columns={0:"TotalFemaleAdult-Trafficked"})\
# .set_index(['citizenship', 'Year'])

# TotalFemaleAdult =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
#                                             .columns.to_series().str.contains('FemaleAdultTraf')]] \
#                                             .T.sum().reset_index().rename(columns={0:"TotalFemaleAdultTrafficked"})\
# .set_index(['citizenship', 'Year'])

# TotalFemaleAdultPlus =  traffickingCounts[traffickingCounts.columns[traffickingCounts \
#                                             .columns.to_series().str.contains('FemaleAdult+')]] \
#                                             .T.sum().reset_index().rename(columns={0:"TotalFemaleAdult+Trafficked"})\
# .set_index(['citizenship', 'Year'])


# FinalTotals = pandas.concat([Total, TotalChild, TotalAdult,
#                  TotalAdultMinus, TotalAdultPlus, TotalFemale, TotalMale,
#                  TotalMaleChild, TotalMaleAdultMinus, TotalMaleAdult, TotalMaleAdultPlus,
#                 TotalFemaleChild,TotalFemaleAdultMinus, TotalFemaleAdult, TotalFemaleAdultPlus],axis=1, join='outer')

In [11]:
# FinalTrafficking = pandas.concat([FinalTotals, traffickingCounts], axis=1, join='outer')

# FinalTrafficking = FinalTrafficking.reset_index().rename(columns={'citizenship': 'properties.code'})
# FinalTrafficking.head()

In [12]:
gdp = pandas.read_csv('Countries_GDP_Cleaned.csv')
gdp = pandas.DataFrame(gdp)
gdp = gdp.rename(columns={'Country Code':'properties.code'})
# gdp['properties.code'] = gdp['properties.code'].apply(str)
# gdp = gdp.replace('..', -99)
# gdp['GDP'] = gdp['GDP'].apply(float)
gdp = gdp.rename(columns={'GPD Values':'GDP(ppp)', 'Country Name':'Name', "Years":'Year'})
# gdp.dtypes
gdp.tail(100)

                    Name properties.code  Year      GDP(ppp)
5920  West Bank and Gaza              PS  2002  9.322845e+09
5921  West Bank and Gaza              PS  2003  1.042112e+10
5922  West Bank and Gaza              PS  2004  1.162812e+10
5923  West Bank and Gaza              PS  2005  1.331528e+10
5924  West Bank and Gaza              PS  2006  1.309528e+10
5925  West Bank and Gaza              PS  2007  1.321161e+10
5926  West Bank and Gaza              PS  2008  1.248057e+10
5927  West Bank and Gaza              PS  2009  1.497595e+10
5928  West Bank and Gaza              PS  2010  1.558107e+10
5929  West Bank and Gaza              PS  2011  1.710758e+10
5930  West Bank and Gaza              PS  2012  1.995528e+10
5931  West Bank and Gaza              PS  2013  1.940967e+10
5932  West Bank and Gaza              PS  2014  1.954238e+10
5933  West Bank and Gaza              PS  2015  2.219579e+10
5934  West Bank and Gaza              PS  2016  2.325719e+10
5935  West Bank and Gaza              PS  2017  2.288674e+10
5936         Yemen, Rep.              YE  1990  2.592765e+10
5937         Yemen, Rep.              YE  1991  2.847673e+10
5938         Yemen, Rep.              YE  1992  3.151640e+10
5939         Yemen, Rep.              YE  1993  3.355755e+10
5940         Yemen, Rep.              YE  1994  3.657542e+10
5941         Yemen, Rep.              YE  1995  3.945511e+10
5942         Yemen, Rep.              YE  1996  4.203750e+10
5943         Yemen, Rep.              YE  1997  4.499364e+10
5944         Yemen, Rep.              YE  1998  4.821390e+10
5945         Yemen, Rep.              YE  1999  5.079991e+10
5946         Yemen, Rep.              YE  2000  5.516774e+10
5947         Yemen, Rep.              YE  2001  5.857117e+10
5948         Yemen, Rep.              YE  2002  6.181060e+10
5949         Yemen, Rep.              YE  2003  6.540562e+10
...                  ...             ...   ...           ...
5990              Zambia              ZM  2016  6.534790e+10
5991              Zambia              ZM  2017  6.923570e+10
5992            Zimbabwe              ZW  1990  1.715051e+10
5993            Zimbabwe              ZW  1991  1.870168e+10
5994            Zimbabwe              ZW  1992  1.740350e+10
5995            Zimbabwe              ZW  1993  1.800492e+10
5996            Zimbabwe              ZW  1994  2.008626e+10
5997            Zimbabwe              ZW  1995  2.053760e+10
5998            Zimbabwe              ZW  1996  2.307921e+10
5999            Zimbabwe              ZW  1997  2.410346e+10
6000            Zimbabwe              ZW  1998  2.506802e+10
6001            Zimbabwe              ZW  1999  2.524349e+10
6002            Zimbabwe              ZW  2000  2.502810e+10
6003            Zimbabwe              ZW  2001  2.596698e+10
6004            Zimbabwe              ZW  2002  2.402064e+10
6005            Zimbabwe              ZW  2003  2.033590e+10
6006            Zimbabwe              ZW  2004  1.968159e+10
6007            Zimbabwe              ZW  2005  1.915467e+10
6008            Zimbabwe              ZW  2006  1.905975e+10
6009            Zimbabwe              ZW  2007  1.885214e+10
6010            Zimbabwe              ZW  2008  1.582563e+10
6011            Zimbabwe              ZW  2009  1.786244e+10
6012            Zimbabwe              ZW  2010  2.035533e+10
6013            Zimbabwe              ZW  2011  2.398453e+10
6014            Zimbabwe              ZW  2012  2.803645e+10
6015            Zimbabwe              ZW  2013  3.006463e+10
6016            Zimbabwe              ZW  2014  3.125517e+10
6017            Zimbabwe              ZW  2015  3.212793e+10
6018            Zimbabwe              ZW  2016  3.273816e+10
6019            Zimbabwe              ZW  2017  3.447604e+10

[100 rows x 4 columns]

In [13]:
 def colorPick(gdp_md_est):
        
# THESE COLORS DONT SEEM TO MATCH...CHECK US COLORS BELOW

# divided 190 countries into 7 equal categories
     
#     (190.0, 166.375, 142.75, 119.125, 95.5, 71.875, 48.25, 24.625, 1.0)
#  GDP(ppp) categories based on 2017 numbers

    if gdp_md_est > 1088982:
        color = "CHARTREUSE"
    elif gdp_md_est > 367301:
        color = "PALEGREEN"
    elif gdp_md_est > 171588:
        color = "SKYBLUE"
    elif gdp_md_est > 71926:
        color = "PALEVIOLETRED"
    elif gdp_md_est > 34633:
        color = "SANDYBROWN"
    elif gdp_md_est > 19688:
        color = "ORANGERED"
    elif gdp_md_est > 3165:
        color = "RED"
    elif type(gdp_md_est) != "float64":
        color = "Black"
    
    
    else:
        color = 'slategrey'

    return color

In [14]:
gdp.dtypes

Name                object
properties.code     object
Year                 int64
GDP(ppp)           float64
dtype: object

In [15]:
for index,row in gdp.iterrows():
    gdp['properties.color'] = gdp['GDP(ppp)'].apply(colorPick)
gdp.head(5)
gdp[gdp['properties.code']=='US']

               Name properties.code  Year      GDP(ppp) properties.color
5712  United States              US  1990  5.979590e+12       CHARTREUSE
5713  United States              US  1991  6.174040e+12       CHARTREUSE
5714  United States              US  1992  6.539300e+12       CHARTREUSE
5715  United States              US  1993  6.878720e+12       CHARTREUSE
5716  United States              US  1994  7.308760e+12       CHARTREUSE
5717  United States              US  1995  7.664060e+12       CHARTREUSE
5718  United States              US  1996  8.100200e+12       CHARTREUSE
5719  United States              US  1997  8.608520e+12       CHARTREUSE
5720  United States              US  1998  9.089170e+12       CHARTREUSE
5721  United States              US  1999  9.660620e+12       CHARTREUSE
5722  United States              US  2000  1.028480e+13       CHARTREUSE
5723  United States              US  2001  1.062180e+13       CHARTREUSE
5724  United States              US  2002  1.097750e+13       CHARTREUSE
5725  United States              US  2003  1.151070e+13       CHARTREUSE
5726  United States              US  2004  1.227490e+13       CHARTREUSE
5727  United States              US  2005  1.309370e+13       CHARTREUSE
5728  United States              US  2006  1.385590e+13       CHARTREUSE
5729  United States              US  2007  1.447760e+13       CHARTREUSE
5730  United States              US  2008  1.471860e+13       CHARTREUSE
5731  United States              US  2009  1.441870e+13       CHARTREUSE
5732  United States              US  2010  1.496440e+13       CHARTREUSE
5733  United States              US  2011  1.551790e+13       CHARTREUSE
5734  United States              US  2012  1.615530e+13       CHARTREUSE
5735  United States              US  2013  1.669150e+13       CHARTREUSE
5736  United States              US  2014  1.742760e+13       CHARTREUSE
5737  United States              US  2015  1.812070e+13       CHARTREUSE
5738  United States              US  2016  1.862450e+13       CHARTREUSE
5739  United States              US  2017  1.939060e+13       CHARTREUSE

In [16]:
TraffickedWithGdp = pandas.merge(longcounts,gdp, on=['properties.code', 'Year'],
                                 how='left').sort_values(['properties.code'])
# .drop("Year_y", axis=1)

TraffickedWithGdp.head(25)

,properties.code,Year,Total,AF,ZZ,SA,AL,TJ,SN,BG,...,SL,TM,CZ,AT,UZ,VN,MX,Name,GDP(ppp),properties.color
0,AF,2013,37.0,12.0,25.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,6.070782e+10,CHARTREUSE
1,AF,2014,188.0,72.0,116.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,6.345999e+10,CHARTREUSE
2,AF,2015,14.0,NaN,NaN,14.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,6.498854e+10,CHARTREUSE
3,AL,2005,45.0,NaN,NaN,NaN,45.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Albania,1.789692e+10,CHARTREUSE
4,BD,2015,11.0,NaN,NaN,NaN,NaN,11.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bangladesh,5.377270e+11,CHARTREUSE
5,BF,2010,33.0,NaN,NaN,NaN,NaN,NaN,33.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Burkina Faso,2.176280e+10,CHARTREUSE
6,BG,2005,116.0,NaN,NaN,NaN,NaN,NaN,NaN,116.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bulgaria,7.820818e+10,CHARTREUSE
7,BG,2007,226.0,NaN,NaN,NaN,NaN,NaN,NaN,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bulgaria,9.657048e+10,CHARTREUSE
8,BO,2012,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bolivia,6.040646e+10,CHARTREUSE
21,BY,2017,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Belarus,1.792040e+11,CHARTREUSE
20,BY,2016,114.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Belarus,1.718740e+11,CHARTREUSE
19,BY,2015,106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Belarus,1.741070e+11,CHARTREUSE
18,BY,2014,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Belarus,1.790980e+11,CHARTREUSE
17,BY,2013,301.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Belarus,1.729600e+11,CHARTREUSE
15,BY,2011,88.0,NaN,63.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Belarus,1.626230e+11,CHARTREUSE
16,BY,2012,161.0,NaN,161.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Belarus,1.684860e+11,CHARTREUSE
13,BY,2008,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Belarus,1.370430e+11,CHARTREUSE
12,BY,2007,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Belarus,1.219660e+11,CHARTREUSE
11,BY,2006,257.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Belarus,1.093960e+11,CHARTREUSE
10,BY,2005,292.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Belarus,9.648639e+10,CHARTREUSE
9,BY,2004,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Belarus,8.544660e+10,CHARTREUSE
14,BY,2010,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Belarus,1.509640e+11,CHARTREUSE
22,CD,2007,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Congo, Dem. Rep.",3.429662e+10,CHARTREUSE
23,CI,2007,31.0,NaN,NaN,NaN,NaN,NaN,31.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cote d'Ivoire,4.787468e+10,CHARTREUSE
24,CN,2015,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,China,1.981430e+13,CHARTREUSE

[{k:v for k,v in m.items() if pandas.notnull(v)} for m in TraffickedWithGdp.iloc[:,:-3].to_dict(orient='rows')]

In [17]:
TraffickedWithGdp['TraffickDict'] = [{k:v for k,v in m.items()  \
                                      if pandas.notnull(v)} for m in \
                                     TraffickedWithGdp.iloc[:,2:-3].to_dict(orient='rows')]
TraffickedWithGdp = TraffickedWithGdp.drop(TraffickedWithGdp.iloc[:,2:-3], axis=1)
TraffickedWithGdp.to_json("../static/data/TraffickingGDPCounts.json",
                                 orient="records")
TraffickedWithGdp.head()

,properties.code,Year,GDP(ppp),properties.color,TraffickDict
0,AF,2013,6.070782e+10,CHARTREUSE,"{'ZZ': 25.0, 'Total': 37.0, 'AF': 12.0}"
1,AF,2014,6.345999e+10,CHARTREUSE,"{'ZZ': 116.0, 'Total': 188.0, 'AF': 72.0}"
2,AF,2015,6.498854e+10,CHARTREUSE,"{'SA': 14.0, 'Total': 14.0}"
3,AL,2005,1.789692e+10,CHARTREUSE,"{'Total': 45.0, 'AL': 45.0}"
4,BD,2015,5.377270e+11,CHARTREUSE,"{'TJ': 11.0, 'Total': 11.0}"

In [18]:
globe.h

,geometry.coordinates,geometry.type,properties.economy,properties.income_grp,properties.code,properties.name,properties.sovereignt,properties.type
0,"[[[-79.98928788999987, 15.794948635000056], [-...",Polygon,7. Least developed region,5. Low income,-99,Bajo Nuevo Bank (Petrel Is.),Bajo Nuevo Bank (Petrel Is.),Indeterminate
1,"[[[[-63.037668423999946, 18.212958075000028], ...",MultiPolygon,6. Developing region,3. Upper middle income,AI,Anguilla,United Kingdom,Dependency
2,"[[[-62.83885657499987, 17.88198476800008], [-6...",Polygon,2. Developed region: nonG7,1. High income: OECD,BL,St-Barthlemy,France,Dependency
3,"[[[-69.9969376289999, 12.577582098000036], [-6...",Polygon,6. Developing region,2. High income: nonOECD,AW,Aruba,Netherlands,Country
4,"[[[-59.42690995999987, 13.160386460000069], [-...",Polygon,6. Developing region,2. High income: nonOECD,BB,Barbados,Barbados,Sovereign country

In [58]:
globeFinal = pandas.merge(TraffickedWithGdp, globe, on="properties.code")
globeFinal['GDP(ppp)'] = globeFinal['GDP(ppp)'].fillna(-99)
globeFinal['properties.color'] = globeFinal['properties.color'].fillna("slategrey")
globeFinal.columns

Index(['properties.code', 'Year', 'GDP(ppp)', 'properties.color',
       'TraffickDict', 'geometry.coordinates', 'geometry.type',
       'properties.economy', 'properties.income_grp', 'properties.name',
       'properties.sovereignt', 'properties.type'],
      dtype='object')

In [51]:
# Source: 
# https://github.com/gboeing/urban-data-science/blob/3faf7e028d48cb03ddb999c5a910213c5384e7dc/17-Leaflet-Web-Mapping/leaflet-simple-demo/pandas-to-geojson.ipynb
def df_to_geojson(df, properties):
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type': [],'coordinates':[]}}
        feature['geometry']['coordinates'] = [row['geometry.coordinates']]
        feature['geometry']['type'] = row['geometry.type']
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

cols = ['properties.code', 
#         'Year', 'GDP(ppp)', 'properties.color','TraffickDict', 
        'geometry.coordinates', 'geometry.type',
       'properties.economy', 'properties.income_grp', 'properties.name',
       'properties.sovereignt', 'properties.type']

In [44]:
with open('../static/data/globe2.geo.json', 'w', encoding='utf-8') as f:
    json.dump(df_to_geojson(globeFinal.head(25), cols), f, ensure_ascii=False)

In [57]:
 globeFinal[globeFinal.isnull().any(axis=1)]

,properties.code,Year,GDP(ppp),properties.color,TraffickDict,geometry.coordinates,geometry.type,properties.economy,properties.income_grp,properties.name,properties.sovereignt,properties.type
53,KH,2018,NaN,slategrey,"{'Total': 866.0, 'KH': 866.0}","[[[[103.8048608730002, 10.463202216000113], [1...",MultiPolygon,7. Least developed region,5. Low income,Cambodia,Cambodia,Sovereign country
69,MD,2018,NaN,slategrey,"{'Total': 12.0, 'MD': 12.0}","[[[27.60687259900004, 48.457818502000165], [27...",Polygon,6. Developing region,4. Lower middle income,Moldova,Moldova,Sovereign country
81,MG,2018,NaN,slategrey,"{'MG': 94.0, 'Total': 94.0}","[[[[49.84449303500011, -17.072198174999855], [...",MultiPolygon,7. Least developed region,5. Low income,Madagascar,Madagascar,Sovereign country
107,SL,2018,NaN,slategrey,"{'Total': 16.0, 'SL': 16.0}","[[[[-12.595855272999898, 7.612738348000079], [...",MultiPolygon,7. Least developed region,5. Low income,Sierra Leone,Sierra Leone,Sovereign country
133,UA,2018,NaN,slategrey,"{'UA': 240.0, 'Total': 240.0}","[[[[29.807465040000153, 45.614325262000094], [...",MultiPolygon,6. Developing region,4. Lower middle income,Ukraine,Ukraine,Sovereign country
143,VN,2018,NaN,slategrey,"{'Total': 31.0, 'KH': 31.0}","[[[[106.66871178500006, 8.753485419000171], [1...",MultiPolygon,5. Emerging region: G20,4. Lower middle income,Vietnam,Vietnam,Sovereign country

In [53]:
with open('../static/data/miniGlobe.geo.json', 'w', encoding='utf-8') as f:
    json.dump(df_to_geojson(globe, cols), f, ensure_ascii=False)

In [ ]:
# doc = czml.CZML()

# # Create and append the document packet
# packet1 = czml.CZMLPacket(id='document',version='1.0')
# doc.packets.append(packet1)

# # Create and append a billboard packet
# packet2 = czml.CZMLPacket(id='billboard')
# bb = czml.Billboard(scale=0.7, show=True)
# bb.image = 'http://localhost/img.png'
# bb.color = {'rgba': [0, 255, 127, 55]}
# packet2.billboard = bb
# doc.packets.append(packet2)

# # Write the CZML document to a file
# filename = "example.czml"
# doc.write(filename)

In [ ]:
# {
#     "id": "Facility/AGI",
#     "name": "AGI",
#     "availability": "2012-03-15T10:00:00Z/2012-03-16T10:00:00Z",
#     "description": "<p>Analytical Graphics, Inc. (AGI) develops commercial modeling and analysis software.</p>",
#     "billboard": {
#         "eyeOffset": {
#             "cartesian": [ 0, 0, 0 ]
#         },
#         "horizontalOrigin": "CENTER",
#         "image": "",
#         "pixelOffset": {
#             "cartesian2": [ 0, 0 ]
#         },
#         "scale": 1.5,
#         "show": true,
#         "verticalOrigin": "CENTER"
#     },
#     "label": {
#         "fillColor": {
#             "rgba": [ 0, 255, 255, 255 ]
#         },
#         "font": "11pt Lucida Console",
#         "horizontalOrigin": "LEFT",
#         "outlineColor": {
#             "rgba": [ 0, 0, 0, 255 ]
#         },
#         "outlineWidth": 2,
#         "pixelOffset": {
#             "cartesian2": [ 12, 0 ]
#         },
#         "show": true,
#         "style": "FILL_AND_OUTLINE",
#         "text": "AGI",
#         "verticalOrigin": "CENTER"
#     },
#     "position": {
#         "cartesian": [ 1216469.9357990976, -4736121.71856379, 4081386.8856866374 ]
#     }
# }
# {
#     "id": "document",
#     "name": "My Document",
#     "version": "1.0",
#     "clock": {
#         "interval": "2012-03-15T10:00:00Z/2012-03-16T10:00:00Z",
#         "currentTime": "2012-03-15T10:00:00Z",
#         "multiplier": 60,
#         "range": "LOOP_STOP",
#         "step": "SYSTEM_CLOCK_MULTIPLIER"
#     }
# }
# {
#     "id": "InternationalSpaceStation",
#     "position": {
#         "interpolationAlgorithm": "LAGRANGE",
#         "interpolationDegree": 5,
#         "referenceFrame": "INERTIAL",
#         "epoch": "2012-05-02T12:00:00Z",
#         "cartesian": [
#             0.0, -6668447.2211117, 1201886.45913705, 146789.427467256,
#             60.0, -6711432.84684144, 919677.673492462, -214047.552431458,
#             90.0, -6721319.92231553, 776899.784034099, -394198.837519575,
#             150.0, -6717826.447064, 488820.628328182, -752924.980158179,
#             180.0, -6704450.41462847, 343851.784836767, -931084.800346031,
#             240.0, -6654518.44949696, 52891.726433174, -1283967.69137678
#         ]
#     }
# }

# https://github.com/AnalyticalGraphicsInc/czml-writer/wiki/Path