In [3]:
import pandas as pd
import numpy as np

In [4]:
# gdp = pandas.read_csv('gdp.csv')
migrationIn = pd.read_csv('UN_MigrantStockByAge.csv', skiprows=15)

FileNotFoundError: File b'UN_MigrantStockByAge.csv' does not exist

In [5]:
migration = pd.DataFrame(migrationIn).reset_index(drop=True)
migration.head()

NameError: name 'migrationIn' is not defined

In [6]:
migration = migration.iloc[13:]
migration.head()

NameError: name 'migration' is not defined

In [7]:
migration = migration.drop(['Sort\norder', 'Notes', 'Type of data (a)', 'Code'],
       axis=1).set_index("Major area, region, country or area of destination")
migration.head()

NameError: name 'migration' is not defined

In [8]:
migration = migration.replace("..", 0)
migration = migration.astype('int64', errors='raise')
migration.dtypes

NameError: name 'migration' is not defined

In [9]:
Year = migration.iloc[:,0:1].squeeze().rename('Year')

Total = migration.iloc[:,17:18].squeeze().rename('Total')
TotalYouth = migration.iloc[:,1:5].sum(axis=1).rename('TotalYouth')
TotalAdult = migration.iloc[:,5:14].sum(axis=1).rename('TotalAdult')
TotalElder = migration.iloc[:,14:17].sum(axis=1).rename('TotalElder')
TotalMale = migration.iloc[:,34:35].squeeze().rename("TotalMale")
TotalFemale = migration.iloc[:,51:52].squeeze().rename("TotalFemale")

MaleYouth = migration.iloc[:,18:22].sum(axis=1).rename('MaleYouth')
MaleAdult = migration.iloc[:,22:31].sum(axis=1).rename('MaleAdult')
MaleElder = migration.iloc[:,31:34].sum(axis=1).rename('MaleElder')

FemaleYouth = migration.iloc[:,35:39].sum(axis=1).rename('FemaleYouth')
FemaleAdult = migration.iloc[:,39:48].sum(axis=1).rename('FemaleAdult')
FemaleElder = migration.iloc[:,48:51].sum(axis=1).rename('FemaleElder')

# Youth 0-19  (1-5)
# Adult 20-65 (5-14)
# Elder 65+ (14-17)
# Total (18)

NameError: name 'migration' is not defined

In [10]:
MigrationSums = pd.concat([Year, Total, TotalYouth, TotalAdult, TotalElder,
                          TotalMale, MaleYouth, MaleAdult, MaleElder,
                          TotalFemale, FemaleYouth, FemaleAdult, FemaleElder], axis=1)
MigrationSums.head()

NameError: name 'Year' is not defined

In [11]:
MigrationSums.to_csv('MigrationCountsAge-Gender.csv')

NameError: name 'MigrationSums' is not defined

In [12]:
trafficking = pd.read_csv('trafficking.csv', skiprows=0, low_memory=False)

trafficking.head()

,By using this data you agree to the Terms of Use: https://www.ctdatacollaborative.org/terms-use,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,meansOfControlDebtBondage,...,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown
0,NaN,2002,Case Management,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,Unknown,-99,0,0,0,0,1
1,NaN,2002,Case Management,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,Unknown,-99,0,0,0,0,1
2,NaN,2002,Case Management,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,Unknown,-99,0,0,0,0,1
3,NaN,2002,Case Management,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,Unknown,-99,0,0,0,0,1
4,NaN,2002,Case Management,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,Unknown,-99,0,0,0,0,1

In [57]:
TraffickingCounts = trafficking.drop(trafficking.columns[0], axis=1)
TraffickingCounts = TraffickingCounts.replace(['-99', '18--20', '24--26', '30--38', '21--23',
                           '27--29', '9--17','39--47', '48+', '0--8',
                           'Unknown'], ['Unknown', 'Adult-', 'Adult', 'Adult', 'Adult',
                                        'Adult', 'Youth', 'Adult', 'Adult+', 'Youth', 
                                            'Unknown'])
TraffickingCounts.head()

,yearOfRegistration,Datasource,gender,ageBroad,majorityStatus,majorityStatusAtExploit,majorityEntry,citizenship,meansOfControlDebtBondage,meansOfControlTakesEarnings,...,typeOfSexPrivateSexualServices,typeOfSexConcatenated,isAbduction,RecruiterRelationship,CountryOfExploitation,recruiterRelationIntimatePartner,recruiterRelationFriend,recruiterRelationFamily,recruiterRelationOther,recruiterRelationUnknown
0,2002,Case Management,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,-99,-99,...,-99,Unknown,-99,Unknown,Unknown,0,0,0,0,1
1,2002,Case Management,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,-99,-99,...,-99,Unknown,-99,Unknown,Unknown,0,0,0,0,1
2,2002,Case Management,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,-99,-99,...,-99,Unknown,-99,Unknown,Unknown,0,0,0,0,1
3,2002,Case Management,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,-99,-99,...,-99,Unknown,-99,Unknown,Unknown,0,0,0,0,1
4,2002,Case Management,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,-99,-99,...,-99,Unknown,-99,Unknown,Unknown,0,0,0,0,1

In [59]:
# TraffickingCounts = TraffickingCounts.groupby(['yearOfRegistration','citizenship',
# #                      'gender',
#                                                'ageBroad',
#                                               ]).sum()
TraffickingCounts = TraffickingCounts.rename(columns={'yearOfRegistration':"Year",'recruiterRelationUnknown':'Count'})

# TraffickingCounts = TraffickingCounts.set_index('citizenship')
TraffickingCounts['Count'].reset_index().groupby(['citizenship', 'yearOfRegistration',  'ageBroad', 'gender']).sum()

KeyError: 'yearOfRegistration'

In [38]:
TraffickingCounts = TraffickingCounts.rename(columns={'yearOfRegistration':"Year",'recruiterRelationUnknown':'Count'})

# TraffickingCounts = TraffickingCounts.set_index('citizenship')
TraffickingCounts['Count'].reset_index()

,yearOfRegistration,citizenship,CountryOfExploitation,gender,ageBroad,Count
0,2002,CO,Unknown,Female,Adult,32
1,2002,CO,Unknown,Female,Adult-,11
2,2002,CO,Unknown,Female,Unknown,31
3,2002,MD,Unknown,Female,Adult,396
4,2002,MD,Unknown,Female,Adult-,132
5,2002,MD,Y1,Female,Adult,129
6,2002,MD,Y1,Female,Adult-,27
7,2002,RO,BA,Female,Adult,19
8,2002,RO,BA,Female,Adult-,22
9,2002,RO,MK,Female,Adult,50
10,2002,RO,MK,Female,Adult-,46
11,2002,RO,MK,Female,Youth,25
12,2002,RO,Unknown,Female,Adult,47
13,2002,RO,Unknown,Female,Adult-,26
14,2002,RO,Y1,Female,Adult,13
15,2002,RO,Y1,Female,Adult-,27
16,2002,UA,MK,Female,Adult,54
17,2002,UA,Unknown,Female,Adult,14
18,2002,UA,Y1,Female,Adult,15
19,2002,Unknown,Unknown,Unknown,Unknown,13
20,2003,CO,Unknown,Female,Unknown,22
21,2003,CO,Unknown,Male,Unknown,15
22,2003,MD,Unknown,Female,Adult,166
23,2003,MD,Unknown,Female,Adult-,71
24,2003,RO,BA,Female,Adult,73
25,2003,RO,MK,Female,Adult-,19
26,2003,UA,BA,Female,Adult,13
27,2004,BY,AE,Female,Adult,12
28,2004,BY,CY,Female,Adult,12
29,2004,BY,RU,Female,Adult-,21
...,...,...,...,...,...,...
498,2017,VN,VN,Female,Adult,0
499,2017,ZZ,US,Female,Adult,652
500,2017,ZZ,US,Female,Adult+,28
501,2017,ZZ,US,Female,Adult-,290
502,2017,ZZ,US,Female,Unknown,2298
503,2017,ZZ,US,Female,Youth,870
504,2017,ZZ,US,Male,Adult-,13
505,2017,ZZ,US,Male,Unknown,168
506,2017,ZZ,US,Male,Youth,90
507,2017,ZZ,US,Unknown,Unknown,240
508,2017,ZZ,US,Unknown,Youth,14
509,2017,ZZ,ZZ,Female,Unknown,88
510,2017,ZZ,ZZ,Unknown,Unknown,13
511,2018,KH,KH,Female,Adult,26
512,2018,KH,KH,Female,Adult-,45
513,2018,KH,KH,Female,Unknown,177
514,2018,KH,KH,Female,Youth,143
515,2018,KH,KH,Male,Adult,42
516,2018,KH,KH,Male,Adult-,30
517,2018,KH,KH,Male,Unknown,237
518,2018,KH,KH,Male,Youth,166
519,2018,MD,MD,Male,Youth,12
520,2018,MG,MG,Female,Adult,94
521,2018,SL,SL,Female,Adult,16
522,2018,UA,UA,Female,Adult,64
523,2018,UA,UA,Female,Adult+,18
524,2018,UA,UA,Male,Adult,126
525,2018,UA,UA,Male,Adult+,32
526,2018,Unknown,TH,Female,Unknown,11
527,2018,VN,KH,Female,Unknown,31

In [21]:
TraffickingCounts.to_csv('TraffickingCountsAge-Gender.csv')